.electronflow.json.backup
[{"id":"159c15f9.38632","type":"comment","z":"41f61d2.60983","name":"Device Name: Finger Scanner","info":"","x":200,"y":40,"wires":[[]]},{"id":"159c15f9.810695","type":"comment","z":"41f61d2.60983","name":"Event condition: Finger ScannerFinger Reading getValue !=null","info":"","x":200,"y":80,"wires":[[]]},{"id":"198cf8a5.567273","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"180","wires":[["35eb11d7.567273"]]},{"id":"dca5gfd0.187558","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.187558","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"130","wires":[["41f61d2.187558","82e7263f.187558"]]},{"id":"sdf45dgd.187558","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":130,"wires":[["41f61d2.187558"]]},{"id":"41f61d2.187558","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.187558","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":70,"wires":[]},{"id":"8erw33f.187558","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"130","wires":[["41f61d2.187558","82e7263f.187558"]]},{"id":"159c15f9.541672","type":"comment","z":"41f61d2.60983","name":"Device Name: Access Controller","info":"","x":200,"y":280,"wires":[[]]},{"id":"198cf8a5.914721","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"370","wires":[["35eb11d7.914721"]]},{"id":"dca5gfd0.804685","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.804685","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"test:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"320","wires":[["41f61d2.804685","82e7263f.804685"]]},{"id":"sdf45dgd.804685","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":320,"wires":[["41f61d2.804685"]]},{"id":"41f61d2.804685","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.804685","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":260,"wires":[]},{"id":"8erw33f.804685","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"test:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"320","wires":[["41f61d2.804685","82e7263f.804685"]]},{"id":"159c15f9.229438","type":"comment","z":"41f61d2.60983","name":"Device Name: Access Controller","info":"","x":200,"y":470,"wires":[[]]},{"id":"198cf8a5.854457","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"560","wires":[["35eb11d7.854457"]]},{"id":"dca5gfd0.267543","type":"ui_group","z":"41f61d2.60983","name":"allowAccess","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.267543","type":"http request","z":"41f61d2.60983","ret":"txt","name":"allowAccess","url":"172.23.187.4/access/allowed:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"510","wires":[["41f61d2.267543","82e7263f.267543"]]},{"id":"sdf45dgd.267543","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":510,"wires":[["41f61d2.267543"]]},{"id":"41f61d2.267543","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.267543","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":450,"wires":[]},{"id":"8erw33f.267543","type":"http request","z":"41f61d2.60983","ret":"txt","name":"allowAccess","url":"172.23.187.4/access/allowed:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"510","wires":[["41f61d2.267543","82e7263f.267543"]]},{"id":"159c15f9.745998","type":"comment","z":"41f61d2.60983","name":"Device Name: Access Controller","info":"","x":200,"y":660,"wires":[[]]},{"id":"198cf8a5.455195","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"750","wires":[["35eb11d7.455195"]]},{"id":"dca5gfd0.389560","type":"ui_group","z":"41f61d2.60983","name":"denyAccess","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.389560","type":"http request","z":"41f61d2.60983","ret":"txt","name":"denyAccess","url":"172.23.187.4/access/allowed:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"700","wires":[["41f61d2.389560","82e7263f.389560"]]},{"id":"sdf45dgd.389560","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":700,"wires":[["41f61d2.389560"]]},{"id":"41f61d2.389560","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.389560","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":640,"wires":[]},{"id":"8erw33f.389560","type":"http request","z":"41f61d2.60983","ret":"txt","name":"denyAccess","url":"172.23.187.4/access/allowed:8081","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"700","wires":[["41f61d2.389560","82e7263f.389560"]]},{"id":"159c15f9.600306","type":"comment","z":"41f61d2.60983","name":"Device Name: Bin sensor","info":"","x":200,"y":850,"wires":[[]]},{"id":"159c15f9.754619","type":"comment","z":"41f61d2.60983","name":"Event condition: Bin sensorfull bin getValue ==full","info":"","x":200,"y":890,"wires":[[]]},{"id":"198cf8a5.268011","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"990","wires":[["35eb11d7.268011"]]},{"id":"dca5gfd0.742519","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.742519","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"940","wires":[["41f61d2.742519","82e7263f.742519"]]},{"id":"sdf45dgd.742519","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":940,"wires":[["41f61d2.742519"]]},{"id":"41f61d2.742519","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.742519","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":880,"wires":[]},{"id":"8erw33f.742519","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"940","wires":[["41f61d2.742519","82e7263f.742519"]]},{"id":"159c15f9.773521","type":"comment","z":"41f61d2.60983","name":"Device Name: Bin Robot","info":"","x":200,"y":1090,"wires":[[]]},{"id":"198cf8a5.809301","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"1180","wires":[["35eb11d7.809301"]]},{"id":"dca5gfd0.933855","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.933855","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1130","wires":[["41f61d2.933855","82e7263f.933855"]]},{"id":"sdf45dgd.933855","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1130,"wires":[["41f61d2.933855"]]},{"id":"41f61d2.933855","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.933855","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1070,"wires":[]},{"id":"8erw33f.933855","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1130","wires":[["41f61d2.933855","82e7263f.933855"]]},{"id":"159c15f9.380425","type":"comment","z":"41f61d2.60983","name":"Device Name: Bin Robot","info":"","x":200,"y":1280,"wires":[[]]},{"id":"198cf8a5.319577","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"1370","wires":[["35eb11d7.319577"]]},{"id":"dca5gfd0.923358","type":"ui_group","z":"41f61d2.60983","name":"setValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.923358","type":"http request","z":"41f61d2.60983","ret":"txt","name":"setValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1320","wires":[["41f61d2.923358","82e7263f.923358"]]},{"id":"sdf45dgd.923358","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1320,"wires":[["41f61d2.923358"]]},{"id":"41f61d2.923358","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.923358","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1260,"wires":[]},{"id":"8erw33f.923358","type":"http request","z":"41f61d2.60983","ret":"txt","name":"setValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1320","wires":[["41f61d2.923358","82e7263f.923358"]]},{"id":"159c15f9.664464","type":"comment","z":"41f61d2.60983","name":"Device Name: Bin Robot","info":"","x":200,"y":1470,"wires":[[]]},{"id":"198cf8a5.233293","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"1560","wires":[["35eb11d7.233293"]]},{"id":"dca5gfd0.718516","type":"ui_group","z":"41f61d2.60983","name":"Move to waste dumping area","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.718516","type":"http request","z":"41f61d2.60983","ret":"txt","name":"Move to waste dumping area","url":"172.23.187.5/bin/movement/dumping/area:8082","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1510","wires":[["41f61d2.718516","82e7263f.718516"]]},{"id":"sdf45dgd.718516","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1510,"wires":[["41f61d2.718516"]]},{"id":"41f61d2.718516","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.718516","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1450,"wires":[]},{"id":"8erw33f.718516","type":"http request","z":"41f61d2.60983","ret":"txt","name":"Move to waste dumping area","url":"172.23.187.5/bin/movement/dumping/area:8082","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1510","wires":[["41f61d2.718516","82e7263f.718516"]]},{"id":"159c15f9.174211","type":"comment","z":"41f61d2.60983","name":"Device Name: Bin Robot","info":"","x":200,"y":1660,"wires":[[]]},{"id":"198cf8a5.692853","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"1750","wires":[["35eb11d7.692853"]]},{"id":"dca5gfd0.452846","type":"ui_group","z":"41f61d2.60983","name":"Put and empty bin","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.452846","type":"http request","z":"41f61d2.60983","ret":"txt","name":"Put and empty bin","url":"172.23.187.5/bin/new/empty:8082","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1700","wires":[["41f61d2.452846","82e7263f.452846"]]},{"id":"sdf45dgd.452846","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1700,"wires":[["41f61d2.452846"]]},{"id":"41f61d2.452846","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.452846","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1640,"wires":[]},{"id":"8erw33f.452846","type":"http request","z":"41f61d2.60983","ret":"txt","name":"Put and empty bin","url":"172.23.187.5/bin/new/empty:8082","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1700","wires":[["41f61d2.452846","82e7263f.452846"]]},{"id":"159c15f9.4129","type":"comment","z":"41f61d2.60983","name":"Device Name: Food Provider","info":"","x":200,"y":1850,"wires":[[]]},{"id":"198cf8a5.515891","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"1940","wires":[["35eb11d7.515891"]]},{"id":"dca5gfd0.968296","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.968296","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1890","wires":[["41f61d2.968296","82e7263f.968296"]]},{"id":"sdf45dgd.968296","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1890,"wires":[["41f61d2.968296"]]},{"id":"41f61d2.968296","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.968296","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1830,"wires":[]},{"id":"8erw33f.968296","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"1890","wires":[["41f61d2.968296","82e7263f.968296"]]},{"id":"159c15f9.898367","type":"comment","z":"41f61d2.60983","name":"Device Name: Food Provider","info":"","x":200,"y":2040,"wires":[[]]},{"id":"198cf8a5.619372","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"2130","wires":[["35eb11d7.619372"]]},{"id":"dca5gfd0.31286","type":"ui_group","z":"41f61d2.60983","name":"setValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.31286","type":"http request","z":"41f61d2.60983","ret":"txt","name":"setValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2080","wires":[["41f61d2.31286","82e7263f.31286"]]},{"id":"sdf45dgd.31286","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":2080,"wires":[["41f61d2.31286"]]},{"id":"41f61d2.31286","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.31286","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":2020,"wires":[]},{"id":"8erw33f.31286","type":"http request","z":"41f61d2.60983","ret":"txt","name":"setValue","url":"y:","tls":"","persist":false,"statusCode":"","method":"","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2080","wires":[["41f61d2.31286","82e7263f.31286"]]},{"id":"159c15f9.231170","type":"comment","z":"41f61d2.60983","name":"Device Name: Food Provider","info":"","x":200,"y":2230,"wires":[[]]},{"id":"198cf8a5.833410","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"2320","wires":[["35eb11d7.833410"]]},{"id":"dca5gfd0.855804","type":"ui_group","z":"41f61d2.60983","name":"ServeFood","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.855804","type":"http request","z":"41f61d2.60983","ret":"txt","name":"ServeFood","url":"172.23.187.5/food/service:8083","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2270","wires":[["41f61d2.855804","82e7263f.855804"]]},{"id":"sdf45dgd.855804","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":2270,"wires":[["41f61d2.855804"]]},{"id":"41f61d2.855804","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.855804","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":2210,"wires":[]},{"id":"8erw33f.855804","type":"http request","z":"41f61d2.60983","ret":"txt","name":"ServeFood","url":"172.23.187.5/food/service:8083","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2270","wires":[["41f61d2.855804","82e7263f.855804"]]},{"id":"159c15f9.878172","type":"comment","z":"41f61d2.60983","name":"Device Name: Proximity Sensor","info":"","x":200,"y":2420,"wires":[[]]},{"id":"159c15f9.687745","type":"comment","z":"41f61d2.60983","name":"Event condition: Proximity SensorFood is Taken getValue ==false","info":"","x":200,"y":2460,"wires":[[]]},{"id":"198cf8a5.123873","type":"inject","z":"41f61d2.60983","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":"200","y":"2560","wires":[["35eb11d7.123873"]]},{"id":"dca5gfd0.624585","type":"ui_group","z":"41f61d2.60983","name":"getValue","tab":"b7abfg80.60983","order":1,"disp":true,"width":"6","collapse":false},{"id":"8erw33f.624585","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"test:1111","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2510","wires":[["41f61d2.624585","82e7263f.624585"]]},{"id":"sdf45dgd.624585","type":"json","z":"41f61d2.60983","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":2510,"wires":[["41f61d2.624585"]]},{"id":"41f61d2.624585","type":"ui_text","z":"41f61d2.60983","name":"","group":"dca5gfd0.624585","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":2450,"wires":[]},{"id":"8erw33f.624585","type":"http request","z":"41f61d2.60983","ret":"txt","name":"getValue","url":"test:1111","tls":"","persist":false,"statusCode":"","method":"POST","headers":{},"upload":true,"swaggerDoc":"","x":"285","y":"2510","wires":[["41f61d2.624585","82e7263f.624585"]]},{"id":"b7abfg80.60983","type":"ui_tab","z":"41f61d2.60983","tab":"","name":"Smart Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"41f61d2.60983","type":"tab","label":"Flow 60983","disabled":false,"info":""}]