.electronflow.json.backup
[{"id":"82e7263f.358951","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.644624","type":"ui_group","z":"41f61d2.791090","name":"getHumidity","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"a82ffb36.644624","type":"ui_gauge","z":"41f61d2.791090","name":"getHumidity","group":"dca5gfd0.644624","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":40,"wires":[]},{"id":"82e7263f.644624","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":100,"wires":[["2a08c57b.644624","a82ffb36.644624","46dg574s.644624"]]},{"id":"2a08c57b.644624","type":"debug","z":"41f61d2.791090","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"9d19d8fc.644624","type":"ui_chart","name":"getHumidity monitoring","z":"41f61d2.791090","ymin":"","ymax":"","group":"dca5gfd0.644624","order":1,"width":0,"height":0,"label":"getHumidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":140,"wires":[[]]},{"id":"46dg574s.644624","type":"template","z":"41f61d2.791090","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":140,"wires":[["9d19d8fc.644624"]]},{"id":"42a56979.358951","z":"41f61d2.791090","type":"mqtt in","name":"getHumidity","qos":"b","topic":"b","broker":"82e7263f.358951","x":"100","y":"100","wires":[["174b1d51.358951","82e7263f.644624"]]},{"id":"82e7263f.317812","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.142108","type":"ui_group","z":"41f61d2.791090","name":"getTemperature","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.142108","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":250,"wires":[["41f61d2.142108"]]},{"id":"41f61d2.142108","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.142108","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":190,"wires":[]},{"id":"42a56979.317812","z":"41f61d2.791090","type":"mqtt in","name":"getTemperature","qos":"","topic":"","broker":"82e7263f.317812","x":"100","y":"250","wires":[["174b1d51.317812","sdf45dgd.142108"]]},{"id":"82e7263f.957043","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.430585","type":"ui_group","z":"41f61d2.791090","name":"TurnON","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.430585","z":"41f61d2.791090","type":"mqtt in","name":"TurnON","qos":"b","topic":"b","broker":"82e7263f.957043","x":"100","y":"400","wires":[["174b1d51.957043","sdf45dgd.430585"]]},{"id":"82e7263f.430585","type":"ui_switch","z":"41f61d2.791090","name":"TurnON switch","label":"switch","tooltip":"","group":"dca5gfd0.430585","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":340,"wires":[[]]},{"id":"sdf45dgd.430585","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":400,"wires":[["41f61d2.430585","41f61d2.430585"]]},{"id":"41f61d2.430585","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.430585","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":340,"wires":[]},{"id":"42a56979.957043","z":"41f61d2.791090","type":"mqtt out","name":"TurnON","qos":"b","topic":"b","broker":"82e7263f.957043","x":850,"y":340,"wires":[["174b1d51.957043"]]},{"id":"82e7263f.500050","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.993056","type":"ui_group","z":"41f61d2.791090","name":"TurnOFF","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.993056","z":"41f61d2.791090","type":"mqtt in","name":"TurnOFF","qos":"b","topic":"b","broker":"82e7263f.500050","x":"100","y":"550","wires":[["174b1d51.500050","sdf45dgd.993056"]]},{"id":"82e7263f.993056","type":"ui_switch","z":"41f61d2.791090","name":"TurnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.993056","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":490,"wires":[[]]},{"id":"sdf45dgd.993056","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":550,"wires":[["41f61d2.993056","41f61d2.993056"]]},{"id":"41f61d2.993056","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.993056","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":490,"wires":[]},{"id":"42a56979.500050","z":"41f61d2.791090","type":"mqtt out","name":"TurnOFF","qos":"b","topic":"b","broker":"82e7263f.500050","x":850,"y":490,"wires":[["174b1d51.500050"]]},{"id":"82e7263f.826326","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.48919","type":"ui_group","z":"41f61d2.791090","name":"turnON","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.48919","z":"41f61d2.791090","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.826326","x":"100","y":"700","wires":[["174b1d51.826326","sdf45dgd.48919"]]},{"id":"82e7263f.48919","type":"ui_switch","z":"41f61d2.791090","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.48919","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":640,"wires":[[]]},{"id":"sdf45dgd.48919","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":700,"wires":[["41f61d2.48919","41f61d2.48919"]]},{"id":"41f61d2.48919","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.48919","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"42a56979.826326","z":"41f61d2.791090","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.826326","x":850,"y":640,"wires":[["174b1d51.826326"]]},{"id":"82e7263f.715749","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.999795","type":"ui_group","z":"41f61d2.791090","name":"turnOFF","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.999795","z":"41f61d2.791090","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.715749","x":"100","y":"850","wires":[["174b1d51.715749","sdf45dgd.999795"]]},{"id":"82e7263f.999795","type":"ui_switch","z":"41f61d2.791090","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.999795","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":790,"wires":[[]]},{"id":"sdf45dgd.999795","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":850,"wires":[["41f61d2.999795","41f61d2.999795"]]},{"id":"41f61d2.999795","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.999795","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":790,"wires":[]},{"id":"42a56979.715749","z":"41f61d2.791090","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.715749","x":850,"y":790,"wires":[["174b1d51.715749"]]},{"id":"82e7263f.799091","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.172205","type":"ui_group","z":"41f61d2.791090","name":"getCamera","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.172205","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1000,"wires":[["41f61d2.172205"]]},{"id":"41f61d2.172205","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.172205","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":940,"wires":[]},{"id":"42a56979.799091","z":"41f61d2.791090","type":"mqtt in","name":"getCamera","qos":"b","topic":"b","broker":"82e7263f.799091","x":"100","y":"1000","wires":[["174b1d51.799091","sdf45dgd.172205"]]},{"id":"82e7263f.905025","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.60467","type":"ui_group","z":"41f61d2.791090","name":"getState","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.60467","z":"41f61d2.791090","type":"mqtt in","name":"getState","qos":"b","topic":"b","broker":"82e7263f.905025","x":"100","y":"1150","wires":[["174b1d51.905025","sdf45dgd.60467"]]},{"id":"82e7263f.60467","type":"ui_switch","z":"41f61d2.791090","name":"getState switch","label":"switch","tooltip":"","group":"dca5gfd0.60467","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1090,"wires":[[]]},{"id":"sdf45dgd.60467","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1150,"wires":[["41f61d2.60467","41f61d2.60467"]]},{"id":"41f61d2.60467","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.60467","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1090,"wires":[]},{"id":"42a56979.905025","z":"41f61d2.791090","type":"mqtt out","name":"getState","qos":"b","topic":"b","broker":"82e7263f.905025","x":850,"y":1090,"wires":[["174b1d51.905025"]]},{"id":"82e7263f.507580","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.101206","type":"ui_group","z":"41f61d2.791090","name":"allowAccess","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.101206","z":"41f61d2.791090","type":"mqtt in","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.507580","x":"100","y":"1300","wires":[["174b1d51.507580","sdf45dgd.101206"]]},{"id":"82e7263f.101206","type":"ui_switch","z":"41f61d2.791090","name":"allowAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.101206","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1240,"wires":[[]]},{"id":"sdf45dgd.101206","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1300,"wires":[["41f61d2.101206","41f61d2.101206"]]},{"id":"41f61d2.101206","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.101206","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1240,"wires":[]},{"id":"42a56979.507580","z":"41f61d2.791090","type":"mqtt out","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.507580","x":850,"y":1240,"wires":[["174b1d51.507580"]]},{"id":"82e7263f.732418","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.849120","type":"ui_group","z":"41f61d2.791090","name":"denyAccess","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.849120","z":"41f61d2.791090","type":"mqtt in","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.732418","x":"100","y":"1450","wires":[["174b1d51.732418","sdf45dgd.849120"]]},{"id":"82e7263f.849120","type":"ui_switch","z":"41f61d2.791090","name":"denyAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.849120","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1390,"wires":[[]]},{"id":"sdf45dgd.849120","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1450,"wires":[["41f61d2.849120","41f61d2.849120"]]},{"id":"41f61d2.849120","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.849120","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1390,"wires":[]},{"id":"42a56979.732418","z":"41f61d2.791090","type":"mqtt out","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.732418","x":850,"y":1390,"wires":[["174b1d51.732418"]]},{"id":"82e7263f.135879","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.462870","type":"ui_group","z":"41f61d2.791090","name":"allowAccess","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.462870","z":"41f61d2.791090","type":"mqtt in","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.135879","x":"100","y":"1600","wires":[["174b1d51.135879","sdf45dgd.462870"]]},{"id":"82e7263f.462870","type":"ui_switch","z":"41f61d2.791090","name":"allowAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.462870","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1540,"wires":[[]]},{"id":"sdf45dgd.462870","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1600,"wires":[["41f61d2.462870","41f61d2.462870"]]},{"id":"41f61d2.462870","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.462870","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1540,"wires":[]},{"id":"42a56979.135879","z":"41f61d2.791090","type":"mqtt out","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.135879","x":850,"y":1540,"wires":[["174b1d51.135879"]]},{"id":"82e7263f.759211","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.897192","type":"ui_group","z":"41f61d2.791090","name":"denyAccess","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.897192","z":"41f61d2.791090","type":"mqtt in","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.759211","x":"100","y":"1750","wires":[["174b1d51.759211","sdf45dgd.897192"]]},{"id":"82e7263f.897192","type":"ui_switch","z":"41f61d2.791090","name":"denyAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.897192","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1690,"wires":[[]]},{"id":"sdf45dgd.897192","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1750,"wires":[["41f61d2.897192","41f61d2.897192"]]},{"id":"41f61d2.897192","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.897192","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1690,"wires":[]},{"id":"42a56979.759211","z":"41f61d2.791090","type":"mqtt out","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.759211","x":850,"y":1690,"wires":[["174b1d51.759211"]]},{"id":"82e7263f.504935","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.381400","type":"ui_group","z":"41f61d2.791090","name":"getMagneticValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.381400","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1900,"wires":[["41f61d2.381400"]]},{"id":"41f61d2.381400","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.381400","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1840,"wires":[]},{"id":"42a56979.504935","z":"41f61d2.791090","type":"mqtt in","name":"getMagneticValue","qos":"b","topic":"b","broker":"82e7263f.504935","x":"100","y":"1900","wires":[["174b1d51.504935","sdf45dgd.381400"]]},{"id":"82e7263f.352268","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.796210","type":"ui_group","z":"41f61d2.791090","name":"getSmokeValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.796210","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2050,"wires":[["41f61d2.796210"]]},{"id":"41f61d2.796210","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.796210","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1990,"wires":[]},{"id":"42a56979.352268","z":"41f61d2.791090","type":"mqtt in","name":"getSmokeValue","qos":"b","topic":"b","broker":"82e7263f.352268","x":"100","y":"2050","wires":[["174b1d51.352268","sdf45dgd.796210"]]},{"id":"82e7263f.827006","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.237626","type":"ui_group","z":"41f61d2.791090","name":"getCO2Value","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.237626","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2200,"wires":[["41f61d2.237626"]]},{"id":"41f61d2.237626","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.237626","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2140,"wires":[]},{"id":"42a56979.827006","z":"41f61d2.791090","type":"mqtt in","name":"getCO2Value","qos":"b","topic":"b","broker":"82e7263f.827006","x":"100","y":"2200","wires":[["174b1d51.827006","sdf45dgd.237626"]]},{"id":"82e7263f.546924","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.394418","type":"ui_group","z":"41f61d2.791090","name":"getFireValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.394418","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2350,"wires":[["41f61d2.394418"]]},{"id":"41f61d2.394418","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.394418","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2290,"wires":[]},{"id":"42a56979.546924","z":"41f61d2.791090","type":"mqtt in","name":"getFireValue","qos":"b","topic":"b","broker":"82e7263f.546924","x":"100","y":"2350","wires":[["174b1d51.546924","sdf45dgd.394418"]]},{"id":"82e7263f.78594","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.505963","type":"ui_group","z":"41f61d2.791090","name":"turnON","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.505963","z":"41f61d2.791090","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.78594","x":"100","y":"2500","wires":[["174b1d51.78594","sdf45dgd.505963"]]},{"id":"82e7263f.505963","type":"ui_switch","z":"41f61d2.791090","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.505963","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2440,"wires":[[]]},{"id":"sdf45dgd.505963","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2500,"wires":[["41f61d2.505963","41f61d2.505963"]]},{"id":"41f61d2.505963","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.505963","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2440,"wires":[]},{"id":"42a56979.78594","z":"41f61d2.791090","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.78594","x":850,"y":2440,"wires":[["174b1d51.78594"]]},{"id":"82e7263f.148287","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.277124","type":"ui_group","z":"41f61d2.791090","name":"turnOFF","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.277124","z":"41f61d2.791090","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.148287","x":"100","y":"2650","wires":[["174b1d51.148287","sdf45dgd.277124"]]},{"id":"82e7263f.277124","type":"ui_switch","z":"41f61d2.791090","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.277124","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2590,"wires":[[]]},{"id":"sdf45dgd.277124","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2650,"wires":[["41f61d2.277124","41f61d2.277124"]]},{"id":"41f61d2.277124","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.277124","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2590,"wires":[]},{"id":"42a56979.148287","z":"41f61d2.791090","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.148287","x":850,"y":2590,"wires":[["174b1d51.148287"]]},{"id":"82e7263f.390613","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.509397","type":"ui_group","z":"41f61d2.791090","name":"turnOFF","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.509397","z":"41f61d2.791090","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.390613","x":"100","y":"2800","wires":[["174b1d51.390613","sdf45dgd.509397"]]},{"id":"82e7263f.509397","type":"ui_switch","z":"41f61d2.791090","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.509397","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2740,"wires":[[]]},{"id":"sdf45dgd.509397","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2800,"wires":[["41f61d2.509397","41f61d2.509397"]]},{"id":"41f61d2.509397","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.509397","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2740,"wires":[]},{"id":"42a56979.390613","z":"41f61d2.791090","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.390613","x":850,"y":2740,"wires":[["174b1d51.390613"]]},{"id":"82e7263f.421248","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.276289","type":"ui_group","z":"41f61d2.791090","name":"turnON","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.276289","z":"41f61d2.791090","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.421248","x":"100","y":"2950","wires":[["174b1d51.421248","sdf45dgd.276289"]]},{"id":"82e7263f.276289","type":"ui_switch","z":"41f61d2.791090","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.276289","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2890,"wires":[[]]},{"id":"sdf45dgd.276289","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2950,"wires":[["41f61d2.276289","41f61d2.276289"]]},{"id":"41f61d2.276289","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.276289","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2890,"wires":[]},{"id":"42a56979.421248","z":"41f61d2.791090","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.421248","x":850,"y":2890,"wires":[["174b1d51.421248"]]},{"id":"82e7263f.201762","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.528248","type":"ui_group","z":"41f61d2.791090","name":"getBinValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.528248","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3100,"wires":[["41f61d2.528248"]]},{"id":"41f61d2.528248","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.528248","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3040,"wires":[]},{"id":"42a56979.201762","z":"41f61d2.791090","type":"mqtt in","name":"getBinValue","qos":"b","topic":"b","broker":"82e7263f.201762","x":"100","y":"3100","wires":[["174b1d51.201762","sdf45dgd.528248"]]},{"id":"82e7263f.259017","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.967716","type":"ui_group","z":"41f61d2.791090","name":"getWaterValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.967716","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3250,"wires":[["41f61d2.967716"]]},{"id":"41f61d2.967716","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.967716","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3190,"wires":[]},{"id":"42a56979.259017","z":"41f61d2.791090","type":"mqtt in","name":"getWaterValue","qos":"b","topic":"b","broker":"82e7263f.259017","x":"100","y":"3250","wires":[["174b1d51.259017","sdf45dgd.967716"]]},{"id":"82e7263f.434259","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.478259","type":"ui_group","z":"41f61d2.791090","name":"getValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.478259","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3400,"wires":[["41f61d2.478259"]]},{"id":"41f61d2.478259","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.478259","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3340,"wires":[]},{"id":"42a56979.434259","z":"41f61d2.791090","type":"mqtt in","name":"getValue","qos":"b","topic":"b","broker":"82e7263f.434259","x":"100","y":"3400","wires":[["174b1d51.434259","sdf45dgd.478259"]]},{"id":"82e7263f.514058","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.829863","type":"ui_group","z":"41f61d2.791090","name":"getValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.829863","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3550,"wires":[["41f61d2.829863"]]},{"id":"41f61d2.829863","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.829863","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3490,"wires":[]},{"id":"42a56979.514058","z":"41f61d2.791090","type":"mqtt in","name":"getValue","qos":"b","topic":"b","broker":"82e7263f.514058","x":"100","y":"3550","wires":[["174b1d51.514058","sdf45dgd.829863"]]},{"id":"82e7263f.437533","type":"mqtt-broker","z":"41f61d2.791090","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.570965","type":"ui_group","z":"41f61d2.791090","name":"setValue","tab":"b7abfg80.791090","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.570965","z":"41f61d2.791090","type":"mqtt in","name":"setValue","qos":"b","topic":"b","broker":"82e7263f.437533","x":"100","y":"3700","wires":[["174b1d51.437533","sdf45dgd.570965"]]},{"id":"82e7263f.570965","type":"ui_switch","z":"41f61d2.791090","name":"setValue switch","label":"switch","tooltip":"","group":"dca5gfd0.570965","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":3640,"wires":[[]]},{"id":"sdf45dgd.570965","type":"json","z":"41f61d2.791090","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3700,"wires":[["41f61d2.570965","41f61d2.570965"]]},{"id":"41f61d2.570965","type":"ui_text","z":"41f61d2.791090","name":"","group":"dca5gfd0.570965","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3640,"wires":[]},{"id":"42a56979.437533","z":"41f61d2.791090","type":"mqtt out","name":"setValue","qos":"b","topic":"b","broker":"82e7263f.437533","x":850,"y":3640,"wires":[["174b1d51.437533"]]},{"id":"b7abfg80.791090","type":"ui_tab","z":"41f61d2.791090","tab":"","name":"Smart Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"41f61d2.791090","type":"tab","label":"Flow 791090","disabled":false,"info":""}]