electronflow.json
[{"id":"53239614.15afa8","type":"tab","label":"Simulation of data - room1","disabled":false,"info":""},{"id":"1012be9a.d56111","type":"tab","label":"Flow 442805 - room1","disabled":false,"info":""},{"id":"c5eccb0d.f59768","type":"tab","label":"Simulation of data - room2","disabled":false,"info":""},{"id":"77432b46.032504","type":"tab","label":"Flow 353453 - room2","disabled":false,"info":""},{"id":"dc592ade.10ce88","type":"mqtt-broker","z":"1012be9a.d56111","name":"","broker":"http://www.hivemq.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2cbde14.00488","type":"ui_group","z":"1012be9a.d56111","name":"Temperature Group","tab":"99320dd6.5ef95","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c524266.34c14c","type":"ui_group","z":"1012be9a.d56111","name":"Brightness Group","tab":"99320dd6.5ef95","order":4,"disp":true,"width":"6","collapse":false},{"id":"99c82aef.09bb58","type":"ui_group","z":"1012be9a.d56111","name":"Camera Group","tab":"99320dd6.5ef95","order":7,"disp":true,"width":"6","collapse":false},{"id":"47d1d725.4fd8a8","type":"mqtt-broker","z":"1012be9a.d56111","name":"","broker":"http://www.hivemq.com/demos/websocket-client/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6721c973.099578","type":"ui_group","z":"1012be9a.d56111","name":"PIR Group","tab":"99320dd6.5ef95","order":6,"disp":true,"width":"6","collapse":false},{"id":"39927433.8b618c","type":"ui_group","z":"1012be9a.d56111","name":"Air_quality Group","tab":"99320dd6.5ef95","order":8,"disp":true,"width":"6","collapse":false},{"id":"256338f8.7bf288","type":"ui_group","z":"1012be9a.d56111","name":"Smoke Group","tab":"99320dd6.5ef95","order":10,"disp":true,"width":"6","collapse":false},{"id":"28e9d869.084bd8","type":"mqtt-broker","z":"1012be9a.d56111","name":"","broker":"http://www.hivemq.com/demos/websocket-client/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6487957.def588","type":"ui_group","z":"1012be9a.d56111","name":"Noise Group","tab":"99320dd6.5ef95","order":9,"disp":true,"width":"6","collapse":false},{"id":"fed7d03.894903","type":"mqtt-broker","z":"1012be9a.d56111","name":"","broker":"http://www.hivemq.com/demos/websocket-client/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93c1da75.355408","type":"ui_group","z":"1012be9a.d56111","name":"Humidity Group","tab":"99320dd6.5ef95","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9f1d28b.e085c","type":"ui_group","z":"1012be9a.d56111","name":"Conditioner Group","tab":"99320dd6.5ef95","order":3,"disp":true,"width":"6","collapse":false},{"id":"36ccd2fa.c3317e","type":"ui_group","z":"1012be9a.d56111","name":"Electrical_light_system Group","tab":"99320dd6.5ef95","order":5,"disp":true,"width":"6","collapse":false},{"id":"6aa9910b.bf244","type":"websocket-listener","z":"1012be9a.d56111","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"1967b08a.ec52ef","type":"ui_group","z":"1012be9a.d56111","name":"sirena Group","tab":"99320dd6.5ef95","order":11,"disp":true,"width":"6","collapse":false},{"id":"99320dd6.5ef95","type":"ui_tab","z":"1012be9a.d56111","name":"Room 1 - Smart University Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"effea0df.66bc7","type":"mqtt-broker","z":"","name":"BrokerServer","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af3adfb4.3d58e","type":"mqtt-broker","z":"","name":"BrokerServer","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b64159ed.53cc38","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"true"},{"id":"a0d4dd73.bdda9","type":"websocket-client","z":"","path":"wss://echo.websocket.org/","tls":"","wholemsg":"false"},{"id":"11e03a0f.d98ba6","type":"ui_group","z":"","name":"Smoke","tab":null,"order":22,"disp":true,"width":"6","collapse":false},{"id":"b5846209.ac377","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b448f331.e8155","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"31c76e39.e88082","type":"human-pose-estimator-service","z":"","host":"https://max-human-pose-estimator.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"8a26ce1f.c7fce","type":"human-pose-estimator-service","z":"","host":"https://max-human-pose-estimator.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"34f42b1e.f6b9a4","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"5a56177.ea10be8","type":"object-detector-service","z":"","host":"https://max-object-detector.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"9ac88357.98daa","type":"ui_group","z":"77432b46.032504","name":"Temperature Group","tab":"38693bdb.942654","order":1,"disp":true,"width":"6","collapse":false},{"id":"73f9b31.9d2d64c","type":"ui_group","z":"77432b46.032504","name":"Brightness Group","tab":"6968d2ea.debc0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"55fde590.bf682c","type":"ui_group","z":"77432b46.032504","name":"Camera","tab":"38693bdb.942654","order":7,"disp":true,"width":"6","collapse":false},{"id":"bb7f9bd3.c01868","type":"ui_group","z":"77432b46.032504","name":"PIR Group","tab":"38693bdb.942654","order":6,"disp":true,"width":"6","collapse":false},{"id":"d6628e71.eaac2","type":"ui_group","z":"77432b46.032504","name":"Air_quality Group","tab":"38693bdb.942654","order":8,"disp":true,"width":"6","collapse":false},{"id":"9ddabfe1.f15f3","type":"ui_group","z":"77432b46.032504","name":"Smoke Group","tab":"38693bdb.942654","order":10,"disp":true,"width":"6","collapse":false},{"id":"34c802ff.ab651e","type":"ui_group","z":"77432b46.032504","name":"Noise Group","tab":"38693bdb.942654","order":9,"disp":true,"width":"6","collapse":false},{"id":"18a40564.5535eb","type":"ui_group","z":"77432b46.032504","name":"Humidity Group","tab":"38693bdb.942654","order":2,"disp":true,"width":"6","collapse":false},{"id":"2fc3c008.2fdf9","type":"ui_group","z":"77432b46.032504","name":"Conditioner Group","tab":"38693bdb.942654","order":3,"disp":true,"width":"6","collapse":false},{"id":"75e3ac85.930104","type":"ui_group","z":"77432b46.032504","name":"Electrical_light_system Group","tab":"38693bdb.942654","order":5,"disp":true,"width":"6","collapse":false},{"id":"4df17430.5479cc","type":"ui_group","z":"77432b46.032504","name":"sirena Group","tab":"38693bdb.942654","order":11,"disp":true,"width":"6","collapse":false},{"id":"6968d2ea.debc0c","type":"ui_tab","z":"77432b46.032504","name":"Smart University Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"38693bdb.942654","type":"ui_tab","z":"","name":"Room 2 - Smart University Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"232d9ce5.358d14","type":"ui_group","z":"","name":"Brightness","tab":"38693bdb.942654","order":4,"disp":true,"width":"6","collapse":false},{"id":"80bfbfe9.7a4","type":"ui_gauge","z":"1012be9a.d56111","name":"Temperature","group":"a2cbde14.00488","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":200,"wires":[]},{"id":"9855889e.721f38","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":true,"x":250,"y":140,"wires":[["80bfbfe9.7a4","46aa9743.6c2b48","7f3d5d1b.8a2634","de173ffc.7353d"]]},{"id":"7fa606cf.18d5c8","type":"ui_chart","z":"1012be9a.d56111","name":"Temperature monitoring","group":"a2cbde14.00488","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":240,"wires":[[]]},{"id":"46aa9743.6c2b48","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":420,"y":240,"wires":[["7fa606cf.18d5c8"]]},{"id":"37bfce1e.2ec632","type":"decrypt","z":"1012be9a.d56111","name":"","algorithm":"AES","key":"1234","x":120,"y":140,"wires":[["9855889e.721f38"]]},{"id":"94a4c7cb.cea758","type":"mqtt in","z":"1012be9a.d56111","name":"Temperature","topic":"room1/temperature","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":130,"y":80,"wires":[["37bfce1e.2ec632","37bfce1e.2ec632"]]},{"id":"ba51ba32.db72d8","type":"ui_gauge","z":"1012be9a.d56111","name":"Brightness","group":"4c524266.34c14c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":400,"wires":[]},{"id":"4e3f72c2.45f15c","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":true,"x":250,"y":460,"wires":[["595f535b.0a63bc","ba51ba32.db72d8","d2208be2.addf58","7c6d4501.ae4d8c"]]},{"id":"595f535b.0a63bc","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":440,"wires":[]},{"id":"7a4036da.c5f988","type":"ui_chart","z":"1012be9a.d56111","name":"Brightness monitoring","group":"4c524266.34c14c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":500,"wires":[[]]},{"id":"d2208be2.addf58","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":360,"y":500,"wires":[["7a4036da.c5f988"]]},{"id":"9a085465.377258","type":"tcp in","z":"1012be9a.d56111","name":"Brightness","server":"server","host":"127.0.0.1","port":"89","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":460,"wires":[["4e3f72c2.45f15c"]]},{"id":"bd61e88.f1f4418","type":"inject","z":"1012be9a.d56111","name":"","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":660,"wires":[["2520777e.a05bf8"]]},{"id":"90149a04.051b78","type":"ui_template","z":"1012be9a.d56111","group":"99c82aef.09bb58","name":"Camera image","order":1,"width":"6","height":"6","format":"<div layout='row' layout-align='space-between'><img width='300' height='200' src='{{(msg.responseUrl)}}'></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":620,"wires":[[]]},{"id":"2520777e.a05bf8","type":"http request","z":"1012be9a.d56111","name":"Camera","method":"GET","ret":"bin","paytoqs":false,"url":"https://i.ibb.co/7k65BpM/people-1.jpg  ","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":660,"wires":[["90149a04.051b78","7d6c12cd.6e354c"]]},{"id":"84fd6464.0ea9a8","type":"ui_gauge","z":"1012be9a.d56111","name":"PIR","group":"6721c973.099578","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":760,"wires":[]},{"id":"ef03369d.cde758","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":true,"x":270,"y":800,"wires":[["a59a699d.2282d8","84fd6464.0ea9a8","afc4f717.5eed38","3f719ff2.0f073"]]},{"id":"a59a699d.2282d8","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","x":530,"y":800,"wires":[]},{"id":"81d9d596.ff8608","type":"ui_chart","z":"1012be9a.d56111","name":"PIR monitoring","group":"6721c973.099578","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":720,"wires":[[]]},{"id":"afc4f717.5eed38","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":500,"y":720,"wires":[["81d9d596.ff8608"]]},{"id":"66fbf492.66866c","type":"mqtt in","z":"1012be9a.d56111","name":"PIR","topic":"room1/presence","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":90,"y":800,"wires":[["ef03369d.cde758"]]},{"id":"d6a8189.9e628e8","type":"inject","z":"1012be9a.d56111","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":940,"wires":[["8d490428.158218"]]},{"id":"976343fa.4ca31","type":"ui_gauge","z":"1012be9a.d56111","name":"Air_quality","group":"39927433.8b618c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":900,"wires":[]},{"id":"d6275698.878c38","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"str","pretty":true,"x":590,"y":940,"wires":[["673d384d.8ade38","976343fa.4ca31","bd62fbf3.8d06e8"]]},{"id":"673d384d.8ade38","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":940,"wires":[]},{"id":"23fad526.9dcbea","type":"ui_chart","z":"1012be9a.d56111","name":"Air_quality monitoring","group":"39927433.8b618c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":980,"wires":[[]]},{"id":"bd62fbf3.8d06e8","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":540,"y":980,"wires":[["23fad526.9dcbea"]]},{"id":"8d490428.158218","type":"http request","z":"1012be9a.d56111","name":"Air_quality","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:18880/room1-air","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":940,"wires":[["8bcbb392.a299c"]]},{"id":"7bc7ee98.5c4af","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"str","pretty":false,"x":230,"y":1100,"wires":[["a0803aac.7cd648","1bd188e1.1d7067"]]},{"id":"a0803aac.7cd648","type":"ui_text","z":"1012be9a.d56111","group":"256338f8.7bf288","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-center","x":390,"y":1140,"wires":[]},{"id":"b68f30db.da83a","type":"tcp in","z":"1012be9a.d56111","name":"Smoke","server":"server","host":"127.0.0.1","port":"88","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":90,"y":1100,"wires":[["7bc7ee98.5c4af"]]},{"id":"17be5204.4ae85e","type":"ui_gauge","z":"1012be9a.d56111","name":"Noise","group":"a6487957.def588","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1200,"wires":[]},{"id":"9d77352.c2aaac8","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":true,"x":370,"y":1240,"wires":[["b588cb58.0e4198","17be5204.4ae85e","ea7c1ba9.7e2f88","615841f7.85be1"]]},{"id":"b588cb58.0e4198","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1240,"wires":[]},{"id":"8b409a6e.b3b838","type":"ui_chart","z":"1012be9a.d56111","name":"Noise monitoring","group":"a6487957.def588","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":1280,"wires":[[]]},{"id":"ea7c1ba9.7e2f88","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":500,"y":1280,"wires":[["8b409a6e.b3b838"]]},{"id":"c63f434e.41a51","type":"mqtt in","z":"1012be9a.d56111","name":"Noise","topic":"room1/noise","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":90,"y":1240,"wires":[["9d77352.c2aaac8"]]},{"id":"76063cb5.14de44","type":"ui_gauge","z":"1012be9a.d56111","name":"Humidity","group":"93c1da75.355408","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1360,"wires":[]},{"id":"c27ddee4.c7745","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"obj","pretty":true,"x":330,"y":1400,"wires":[["72f71f8d.a6588","76063cb5.14de44","7b67c565.4644dc"]]},{"id":"72f71f8d.a6588","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1400,"wires":[]},{"id":"bbf06817.39f1d8","type":"ui_chart","z":"1012be9a.d56111","name":"Humidity monitoring","group":"93c1da75.355408","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":1440,"wires":[[]]},{"id":"7b67c565.4644dc","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1440,"wires":[["bbf06817.39f1d8"]]},{"id":"5e5d9b3e.364e94","type":"mqtt in","z":"1012be9a.d56111","name":"Humidity","topic":"room1/humidity","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":100,"y":1400,"wires":[["c27ddee4.c7745"]]},{"id":"a7f34b05.ea1c58","type":"tcp in","z":"1012be9a.d56111","name":"Conditioner","server":"server","host":"127.0.0.1","port":"91","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":130,"y":1560,"wires":[["689106a0.e240b8"]]},{"id":"195725c2.d9bada","type":"ui_text","z":"1012be9a.d56111","group":"d9f1d28b.e085c","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1560,"wires":[]},{"id":"47ba3ff2.f4628","type":"udp in","z":"1012be9a.d56111","name":"Electrical_light_system","iface":"","port":"13","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":1820,"wires":[["da027f67.f9a69"]]},{"id":"2e51a0e2.4ad9c","type":"ui_switch","z":"1012be9a.d56111","name":"Electrical_light_system switch","label":"switch","tooltip":"","group":"36ccd2fa.c3317e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":1860,"wires":[["4a35c7fd.a12958"]]},{"id":"da027f67.f9a69","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"str","pretty":false,"x":410,"y":1820,"wires":[["6e424d34.b58f04","6e424d34.b58f04","f8a8c5b4.6cf648"]]},{"id":"6e424d34.b58f04","type":"ui_text","z":"1012be9a.d56111","group":"36ccd2fa.c3317e","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1820,"wires":[]},{"id":"4a35c7fd.a12958","type":"udp out","z":"1012be9a.d56111","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"13","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":740,"y":1860,"wires":[]},{"id":"86fe5f45.8c90e","type":"ui_switch","z":"1012be9a.d56111","name":"sirena switch","label":"switch","tooltip":"","group":"1967b08a.ec52ef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":2000,"wires":[["bc67c464.5a2e48"]]},{"id":"e953224b.48664","type":"ui_text","z":"1012be9a.d56111","group":"1967b08a.ec52ef","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1940,"wires":[]},{"id":"e90f8d0d.5c804","type":"comment","z":"1012be9a.d56111","name":"Temperature_monitoring","info":"","x":150,"y":40,"wires":[]},{"id":"99389133.2f443","type":"comment","z":"1012be9a.d56111","name":"Light_monitoring","info":"","x":100,"y":360,"wires":[]},{"id":"ef968f3f.53bfe","type":"comment","z":"1012be9a.d56111","name":"Presence_monitoring","info":"","x":120,"y":600,"wires":[]},{"id":"b4be7984.6bfb48","type":"comment","z":"1012be9a.d56111","name":"Air_quality_monitoring","info":"","x":120,"y":860,"wires":[]},{"id":"ea632362.ad8da","type":"comment","z":"1012be9a.d56111","name":"Noise_monitoring","info":"","x":100,"y":1188,"wires":[]},{"id":"a1e0d9fe.d977b8","type":"function","z":"53239614.15afa8","name":"random temp","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 40 - 20 ) + 20 ));\nglobal.set('temp1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"d7914d38.4d934","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":60,"wires":[["2d244ab7.7ea6a6"]]},{"id":"2d244ab7.7ea6a6","type":"function","z":"53239614.15afa8","name":"set Floating","func":"var b = global.get('temp1')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.03 - 0.01) + 0.01).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"temp_1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["d7914d38.4d934","28a48fb6.b6679"]]},{"id":"a08015be.a10178","type":"mqtt out","z":"53239614.15afa8","name":"","topic":"room1/temperature","qos":"0","retain":"","broker":"effea0df.66bc7","x":1130,"y":60,"wires":[]},{"id":"28a48fb6.b6679","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"str","x":920,"y":60,"wires":[["1dc699af.1143b6"]]},{"id":"6d994dcc.0d8e64","type":"inject","z":"53239614.15afa8","name":"Humidity","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":140,"wires":[["666b6247.469a0c"]]},{"id":"666b6247.469a0c","type":"function","z":"53239614.15afa8","name":"random hum","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 80 - 20 ) + 20 ));\nglobal.set('hum1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":330,"y":140,"wires":[[]]},{"id":"93cc17.c33923e8","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":140,"wires":[["d201cb6a.20aab8"]]},{"id":"d201cb6a.20aab8","type":"function","z":"53239614.15afa8","name":"set Floating","func":"var b = global.get('hum1')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"hum_1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["93cc17.c33923e8","2aba27f1.25d9b8"]]},{"id":"2aba27f1.25d9b8","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":140,"wires":[["e3d6b836.f67b38"]]},{"id":"e3d6b836.f67b38","type":"mqtt out","z":"53239614.15afa8","name":"room1/humidity","topic":"room1/humidity","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1120,"y":140,"wires":[]},{"id":"6b3d1f45.388af","type":"inject","z":"53239614.15afa8","name":"temp","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["a1e0d9fe.d977b8"]]},{"id":"20b78b51.981904","type":"inject","z":"53239614.15afa8","name":"smoke","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":240,"wires":[["b0925fb0.f245a"]]},{"id":"1f5bbaaa.82bb25","type":"function","z":"53239614.15afa8","name":"set Floating","func":"\nvar b = global.get('count1')\nb=parseInt(b)\nif(b >= 8){\n    msg.payload = true\n\n}\nelse{\n    msg.payload = false;\n}\nglobal.set('smoke_1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["2786c1ad.00c3ce"]]},{"id":"14e7f857.02c4b8","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":940,"y":240,"wires":[["e27a43db.10cfa"]]},{"id":"1e706c2c.79e5a4","type":"inject","z":"53239614.15afa8","name":"presence","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":340,"wires":[["c3512d93.ca281"]]},{"id":"c3512d93.ca281","type":"function","z":"53239614.15afa8","name":"random presence","func":"msg.payload  = Math.floor(Math.random() * ( 15 - 1 ) + 1 );\n\nglobal.set('presence1',msg.payload );\nreturn msg","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"545f5b13.a888b4","type":"function","z":"53239614.15afa8","name":"set Floating","func":"var b = global.get('presence1')\nconsole.log(b)\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n    global.set(\"press_1\",parseInt(b))\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n     global.set(\"press_1\",parseInt(b))\n}\n\nmsg.payload = parseInt(b);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["94fa5a08.53d3c8","4f45c674.cab508"]]},{"id":"94fa5a08.53d3c8","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":340,"wires":[["dcbe19b.cf360e8"]]},{"id":"dcbe19b.cf360e8","type":"mqtt out","z":"53239614.15afa8","name":"room1/presence","topic":"room1/presence","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1120,"y":340,"wires":[]},{"id":"223f6d76.faf572","type":"inject","z":"53239614.15afa8","name":"brihtness","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":440,"wires":[["15979765.d3db89"]]},{"id":"f3ab2bb8.cbb618","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["16ce2f8f.9d353"]]},{"id":"16ce2f8f.9d353","type":"function","z":"53239614.15afa8","name":"set Floating","func":"var b = global.get('bright1')\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"bri_1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["f3ab2bb8.cbb618","f551a220.7457a"]]},{"id":"f551a220.7457a","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{{payload}}","output":"json","x":940,"y":440,"wires":[["bb1bcad2.8498f8"]]},{"id":"ea9fca12.15ccc8","type":"inject","z":"53239614.15afa8","name":"air quality","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":540,"wires":[["c1997893.a4fc28"]]},{"id":"c12647be.0f1a58","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":540,"wires":[["1550d67e.bd4b9a"]]},{"id":"1550d67e.bd4b9a","type":"function","z":"53239614.15afa8","name":"set Floating","func":"\n\nvar b = global.get('airp1')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\n\nglobal.set('airq_1',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["c12647be.0f1a58"]]},{"id":"bf89f0d8.3e8c6","type":"inject","z":"53239614.15afa8","name":"noise","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":620,"wires":[["15f9a23b.d9a0ce"]]},{"id":"f65472b9.23ae3","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":620,"wires":[["b40bcdfb.f8cab"]]},{"id":"b40bcdfb.f8cab","type":"function","z":"53239614.15afa8","name":"set Floating","func":"\nvar b = global.get('noise1')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.03 - 0.01) + 0.01).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n    global.set('noisee_1',parseInt(b) );\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n      global.set('noisee_1',parseInt(b) );\n}\n\nmsg.payload = parseInt(b);\nvar bb = `{\"room\":\"room1\",\"noise\":${msg.payload}}`\nbb = JSON.parse(bb)\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":620,"wires":[["f65472b9.23ae3","b989ddf7.f2fd8"]]},{"id":"b989ddf7.f2fd8","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":620,"wires":[["b68a3d76.59cce"]]},{"id":"b68a3d76.59cce","type":"mqtt out","z":"53239614.15afa8","name":"room1/noise","topic":"room1/noise","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1110,"y":620,"wires":[]},{"id":"e27a43db.10cfa","type":"tcp out","z":"53239614.15afa8","host":"127.0.0.1","port":"88","beserver":"client","base64":false,"end":false,"name":"","x":1120,"y":240,"wires":[]},{"id":"24b868e1.6bbfa8","type":"http in","z":"53239614.15afa8","name":"","url":"/room1-air","method":"get","upload":false,"swaggerDoc":"","x":280,"y":900,"wires":[["c83d3937.fc74f8"]]},{"id":"51330930.914fe8","type":"http response","z":"53239614.15afa8","name":"","statusCode":"","headers":{},"x":970,"y":900,"wires":[]},{"id":"2ec40ef.cb4b9f2","type":"template","z":"53239614.15afa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"str","x":620,"y":900,"wires":[["b609dbe.2b4f128"]]},{"id":"c83d3937.fc74f8","type":"function","z":"53239614.15afa8","name":"","func":"var count = global.get('airq1')\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":900,"wires":[["2ec40ef.cb4b9f2"]]},{"id":"1dc699af.1143b6","type":"encrypt","z":"53239614.15afa8","name":"","algorithm":"AES","key":"1234","x":1020,"y":20,"wires":[["a08015be.a10178"]]},{"id":"b609dbe.2b4f128","type":"encrypt","z":"53239614.15afa8","name":"","algorithm":"DES","key":"123456","x":800,"y":900,"wires":[["51330930.914fe8"]]},{"id":"4d249eb7.b7ff4","type":"tcp out","z":"53239614.15afa8","host":"127.0.0.1","port":"91","beserver":"client","base64":false,"end":true,"name":"Conditioner","x":1110,"y":700,"wires":[]},{"id":"c812bb1c.e52388","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":700,"wires":[["461a2dcf.3ab414"]]},{"id":"8f563a15.3163e8","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":780,"wires":[["9809f3ed.f1062"]]},{"id":"8718c181.31ad5","type":"udp out","z":"53239614.15afa8","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"13","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1140,"y":840,"wires":[]},{"id":"8e923d0e.2af2f","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":840,"wires":[["5c9644aa.dce33c"]]},{"id":"5c9644aa.dce33c","type":"json","z":"53239614.15afa8","name":"","property":"payload","action":"str","pretty":false,"x":550,"y":840,"wires":[["8718c181.31ad5"]]},{"id":"bb1bcad2.8498f8","type":"tcp out","z":"53239614.15afa8","host":"127.0.0.1","port":"89","beserver":"client","base64":false,"end":false,"name":"","x":1120,"y":440,"wires":[]},{"id":"9809f3ed.f1062","type":"json","z":"53239614.15afa8","name":"","property":"payload","action":"str","pretty":false,"x":550,"y":780,"wires":[["7dc41413.d451bc"]]},{"id":"3fea8ee5.2bd0b2","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":100,"wires":[["d7914d38.4d934"]]},{"id":"15979765.d3db89","type":"function","z":"53239614.15afa8","name":"random bright","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 5 - 1 ) + 1 ));\nglobal.set('bright1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":320,"y":440,"wires":[[]]},{"id":"7661f4b8.c38e0c","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":480,"wires":[["f3ab2bb8.cbb618"]]},{"id":"b16623a5.6f7d1","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":380,"wires":[["4f45c674.cab508"]]},{"id":"394c55fd.5e763a","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":180,"wires":[["93cc17.c33923e8"]]},{"id":"c1997893.a4fc28","type":"function","z":"53239614.15afa8","name":"random air","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 3 - 1 ) + 1 ));\nglobal.set('airp1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":290,"y":540,"wires":[[]]},{"id":"8345d8f7.9dcda8","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":580,"wires":[["c12647be.0f1a58"]]},{"id":"8bcbb392.a299c","type":"decrypt","z":"1012be9a.d56111","name":"","algorithm":"DES","key":"123456","x":440,"y":940,"wires":[["d6275698.878c38"]]},{"id":"15f9a23b.d9a0ce","type":"function","z":"53239614.15afa8","name":"random noise","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 3 - 1 ) + 1 ));\nglobal.set('noise1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":300,"y":620,"wires":[[]]},{"id":"b4a3b855.6f2a08","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":660,"wires":[["f65472b9.23ae3"]]},{"id":"461a2dcf.3ab414","type":"json","z":"53239614.15afa8","name":"","property":"payload","action":"str","pretty":false,"x":590,"y":700,"wires":[["48ae9cdb.d2f814"]]},{"id":"7f3d5d1b.8a2634","type":"switch","z":"1012be9a.d56111","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":140,"wires":[["8c38876a.b39dd8"],["f63ce2c4.89ed4"]]},{"id":"8c38876a.b39dd8","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["ef5f0554.34add8"]]},{"id":"ff79dfa.d484b2","type":"ui_switch","z":"1012be9a.d56111","name":"Conditioner switch","label":"switch","tooltip":"","group":"d9f1d28b.e085c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":1620,"wires":[["a02b0af1.0061f8"]]},{"id":"9b8b2030.ed6b6","type":"tcp out","z":"1012be9a.d56111","host":"127.0.0.1","port":"91","beserver":"client","base64":false,"end":true,"name":"Conditioner","x":830,"y":1620,"wires":[]},{"id":"f63ce2c4.89ed4","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["ef5f0554.34add8"]]},{"id":"2e47c288.b2255e","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":true,"x":430,"y":1560,"wires":[["195725c2.d9bada","167b41c9.83e24e","22530f0c.6cbfd"]]},{"id":"a02b0af1.0061f8","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1620,"wires":[["4db25bb0.88c274"]]},{"id":"bc67c464.5a2e48","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"str","pretty":false,"x":390,"y":2000,"wires":[["ea3f78ea.242048"]]},{"id":"1bd188e1.1d7067","type":"switch","z":"1012be9a.d56111","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":1080,"wires":[["8577d01c.3bdff"],["e01884fd.9d0e58"]]},{"id":"8577d01c.3bdff","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1060,"wires":[["cb9e5bda.ef73a8","b9bfad6b.7373e"]]},{"id":"e01884fd.9d0e58","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1100,"wires":[["b9bfad6b.7373e"]]},{"id":"773bd425.3228bc","type":"websocket out","z":"1012be9a.d56111","name":"sirena","server":"b64159ed.53cc38","client":"","x":990,"y":1080,"wires":[]},{"id":"51f8158e.64259c","type":"ui_audio","z":"1012be9a.d56111","name":"","group":"1967b08a.ec52ef","voice":"en-US","always":true,"x":1000,"y":1040,"wires":[]},{"id":"cb9e5bda.ef73a8","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Smoke detected in room 1","output":"str","x":840,"y":1040,"wires":[["51f8158e.64259c","bed75a49.a3dad8"]]},{"id":"bed75a49.a3dad8","type":"ui_toast","z":"1012be9a.d56111","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1020,"y":980,"wires":[]},{"id":"4f45c674.cab508","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":340,"wires":[["545f5b13.a888b4"]]},{"id":"2786c1ad.00c3ce","type":"delay","z":"53239614.15afa8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":240,"wires":[["14e7f857.02c4b8","1f5bbaaa.82bb25"]]},{"id":"b0925fb0.f245a","type":"function","z":"53239614.15afa8","name":"random count","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 29 - 1 ) + 1 ));\nglobal.set('count1', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":335,"y":240,"wires":[[]]},{"id":"4c6a39b7.b16dd8","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":280,"wires":[["1f5bbaaa.82bb25"]]},{"id":"7c6d4501.ae4d8c","type":"switch","z":"1012be9a.d56111","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"3","v2t":"num"},{"t":"btwn","v":"4","vt":"num","v2":"5","v2t":"num"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":460,"wires":[["e84b17b0.b09b18"],["8f21b236.8033a"]]},{"id":"e84b17b0.b09b18","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[["94387de7.119f6"]]},{"id":"8f21b236.8033a","type":"change","z":"1012be9a.d56111","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["94387de7.119f6"]]},{"id":"94387de7.119f6","type":"udp out","z":"1012be9a.d56111","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"13","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":980,"y":440,"wires":[]},{"id":"7d6c12cd.6e354c","type":"object-detector","z":"1012be9a.d56111","service":"5a56177.ea10be8","method":"predict","passthrough":false,"annotated_input":false,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.2","predict_thresholdType":"str","name":"","x":520,"y":660,"wires":[["488ec544.6d2eec"]]},{"id":"488ec544.6d2eec","type":"function","z":"1012be9a.d56111","name":"","func":"var people = 0;\nfor(var i=0;i<msg.details.predictions.length;i++){\n    if(msg.details.predictions[i].label == \"person\" && msg.details.predictions[i].probability >=0.15){\n    people = people+1;\n       msg.payload = people.toString()\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":660,"wires":[["6036c0ac.47e4c"]]},{"id":"6036c0ac.47e4c","type":"ui_text","z":"1012be9a.d56111","group":"99c82aef.09bb58","order":2,"width":0,"height":0,"name":"","label":"People detected:","format":"{{msg.payload}}","layout":"row-center","x":890,"y":660,"wires":[]},{"id":"fa99f1a4.49262","type":"function","z":"c5eccb0d.f59768","name":"random temp","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 40 - 20 ) + 20 ));\nmsg.payload = 20\nglobal.set('temp2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"8a143621.ec8048","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":60,"wires":[["ec276b39.690248"]]},{"id":"ec276b39.690248","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"var b = global.get('temp2')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.03 - 0.01) + 0.01).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"temp_2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["8a143621.ec8048","420407a.1a283f8"]]},{"id":"d4881365.a272a","type":"mqtt out","z":"c5eccb0d.f59768","name":"","topic":"room2/temperature","qos":"0","retain":"","broker":"effea0df.66bc7","x":1130,"y":60,"wires":[]},{"id":"420407a.1a283f8","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"str","x":920,"y":60,"wires":[["8833d8eb.20db08"]]},{"id":"d004b801.8901d8","type":"inject","z":"c5eccb0d.f59768","name":"Humidity","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":140,"wires":[["3d1bb5d3.41335a"]]},{"id":"3d1bb5d3.41335a","type":"function","z":"c5eccb0d.f59768","name":"random hum","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 80 - 20 ) + 20 ));\nglobal.set('hum2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":330,"y":140,"wires":[[]]},{"id":"7dbddb.c50f5224","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":140,"wires":[["4a57eeef.1998b"]]},{"id":"4a57eeef.1998b","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"var b = global.get('hum2')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"hum_2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["7dbddb.c50f5224","b23139f0.846e48"]]},{"id":"b23139f0.846e48","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":140,"wires":[["1d4ebbcb.32d2d4"]]},{"id":"1d4ebbcb.32d2d4","type":"mqtt out","z":"c5eccb0d.f59768","name":"room1/humidity","topic":"room2/humidity","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1120,"y":140,"wires":[]},{"id":"d3e7d45.7613028","type":"inject","z":"c5eccb0d.f59768","name":"temp","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["fa99f1a4.49262"]]},{"id":"2773946e.df421c","type":"inject","z":"c5eccb0d.f59768","name":"smoke","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":240,"wires":[["6ad7feca.28cfe"]]},{"id":"d44ebdfc.32353","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"\nvar b = global.get('count2')\nb=parseInt(b)\nif(b >= 34){\n    msg.payload = true\n\n}\nelse{\n    msg.payload = false;\n}\nglobal.set(\"smoke_2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["98b85bc.b4586a8"]]},{"id":"967e12ca.f007d","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":940,"y":240,"wires":[["4e097fe5.36bf7"]]},{"id":"856a0d8f.2f9cf","type":"inject","z":"c5eccb0d.f59768","name":"presence","topic":"random","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":340,"wires":[["eb68edf1.0e8d4"]]},{"id":"eb68edf1.0e8d4","type":"function","z":"c5eccb0d.f59768","name":"random presence","func":"msg.payload  = Math.floor(Math.random() * ( 15 - 1)+1);\nglobal.set(\"presence2\", msg.payload)\n\nreturn msg","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"e165e31e.ed02d","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"var b = global.get('presence2')\nconsole.log(b)\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n       global.set(\"press_2\", parseInt(b))\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n     global.set(\"press_2\", parseInt(b))\n}\n\nmsg.payload = parseInt(b);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["795af8d.ca22c08"]]},{"id":"6ca1cccd.ecec64","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":340,"wires":[["2674a958.3b0c46"]]},{"id":"2674a958.3b0c46","type":"mqtt out","z":"c5eccb0d.f59768","name":"room1/presence","topic":"room2/presence","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1120,"y":340,"wires":[]},{"id":"33a6ecf3.b3b124","type":"inject","z":"c5eccb0d.f59768","name":"brihtness","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":440,"wires":[["35259f61.cccf5"]]},{"id":"48c46eba.e37f8","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":440,"wires":[["e96f4524.328648","ebd49495.140b28"]]},{"id":"e96f4524.328648","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"var b = global.get('bright2')\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["48c46eba.e37f8","1ab2a673.2d595a"]]},{"id":"ebd49495.140b28","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{{payload}}","output":"json","x":940,"y":440,"wires":[["4af96a35.fc4174"]]},{"id":"4a6c2292.65785c","type":"inject","z":"c5eccb0d.f59768","name":"air quality","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":540,"wires":[["54b15b21.c57eb4"]]},{"id":"4bc88dd5.950da4","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":540,"wires":[["fc2861d.bc90aa"]]},{"id":"fc2861d.bc90aa","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"\n\nvar b = global.get('airp2')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.003 - 0.001) + 0.001).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n}\n\nmsg.payload = parseInt(b);\n\nglobal.set('airq_2',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["4bc88dd5.950da4"]]},{"id":"5885c839.c73e18","type":"inject","z":"c5eccb0d.f59768","name":"noise","topic":"ffff","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":620,"wires":[["6c706987.565208"]]},{"id":"238b30ea.751fc","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":620,"wires":[["7df2400e.7b186","5eb6b602.411cc8"]]},{"id":"7df2400e.7b186","type":"function","z":"c5eccb0d.f59768","name":"set Floating","func":"\nvar b = global.get('noise2')\n\nb = parseInt(b)\nvar r1= 0;\nr1 = ((Math.random() * (0.03 - 0.01) + 0.01).toFixed(2))\n\nvar choose = Math.random() * (2 - 1) + 1\n\nif(choose>=1.3){\n    b = parseFloat(b)+parseFloat(r1)\n    global.set('noisee_2',parseInt(b) );\n}\nelse if(choose<1.3){\n     b = parseFloat(b)-parseFloat(r1)\n         global.set('noisee_2',parseInt(b) );\n}\n\nmsg.payload = parseInt(b);\nglobal.set(\"nois_2\",msg.payload)\nvar bb = `{\"room\":\"room2\",\"noise\":${msg.payload}}`\nbb = JSON.parse(bb)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["238b30ea.751fc"]]},{"id":"5eb6b602.411cc8","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"json","x":940,"y":620,"wires":[["e2fdf383.8f2a8"]]},{"id":"e2fdf383.8f2a8","type":"mqtt out","z":"c5eccb0d.f59768","name":"room1/noise","topic":"room2/noise","qos":"0","retain":"","broker":"af3adfb4.3d58e","x":1110,"y":620,"wires":[]},{"id":"4e097fe5.36bf7","type":"tcp out","z":"c5eccb0d.f59768","host":"127.0.0.1","port":"188","beserver":"client","base64":false,"end":false,"name":"","x":1130,"y":240,"wires":[]},{"id":"b64fc635.bfe8a8","type":"http in","z":"c5eccb0d.f59768","name":"","url":"/room2-air","method":"get","upload":false,"swaggerDoc":"","x":280,"y":920,"wires":[["243d7e93.fd0d32"]]},{"id":"b4f7b299.adf6d","type":"http response","z":"c5eccb0d.f59768","name":"","statusCode":"","headers":{},"x":970,"y":920,"wires":[]},{"id":"d95a5fb7.eafa7","type":"template","z":"c5eccb0d.f59768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"value\":{{payload}}}","output":"str","x":620,"y":920,"wires":[["87a1be57.d6fa5"]]},{"id":"243d7e93.fd0d32","type":"function","z":"c5eccb0d.f59768","name":"","func":"var count = global.get('airq_2')\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":920,"wires":[["d95a5fb7.eafa7"]]},{"id":"8833d8eb.20db08","type":"encrypt","z":"c5eccb0d.f59768","name":"","algorithm":"AES","key":"1234","x":1000,"y":20,"wires":[["d4881365.a272a"]]},{"id":"87a1be57.d6fa5","type":"encrypt","z":"c5eccb0d.f59768","name":"","algorithm":"DES","key":"123456","x":800,"y":920,"wires":[["b4f7b299.adf6d"]]},{"id":"5a3d8aac.059a64","type":"tcp out","z":"c5eccb0d.f59768","host":"127.0.0.1","port":"21","beserver":"client","base64":false,"end":false,"name":"Conditioner","x":810,"y":720,"wires":[]},{"id":"bf607ad.c8c5088","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":720,"wires":[["123da299.4ca0fd"]]},{"id":"f4d4eb4a.49c868","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":780,"wires":[["dc56cc43.7cb8c"]]},{"id":"2d6b8fa5.64ce4","type":"encrypt","z":"c5eccb0d.f59768","name":"","algorithm":"DES","key":"12345","x":620,"y":780,"wires":[["c2b0b5dd.537918"]]},{"id":"52cb6517.960eec","type":"udp out","z":"c5eccb0d.f59768","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"15","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1140,"y":840,"wires":[]},{"id":"e7598013.2d8cf","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":840,"wires":[["b7035f52.2d27"]]},{"id":"b7035f52.2d27","type":"json","z":"c5eccb0d.f59768","name":"","property":"payload","action":"str","pretty":false,"x":550,"y":840,"wires":[["52cb6517.960eec"]]},{"id":"4af96a35.fc4174","type":"tcp out","z":"c5eccb0d.f59768","host":"127.0.0.1","port":"20","beserver":"client","base64":false,"end":false,"name":"","x":1120,"y":440,"wires":[]},{"id":"dc56cc43.7cb8c","type":"json","z":"c5eccb0d.f59768","name":"","property":"payload","action":"str","pretty":false,"x":450,"y":780,"wires":[["2d6b8fa5.64ce4"]]},{"id":"59f3eb9f.5e1924","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":100,"wires":[["8a143621.ec8048"]]},{"id":"35259f61.cccf5","type":"function","z":"c5eccb0d.f59768","name":"random bright","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 5 - 1 ) + 1 ));\nglobal.set('bright2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":320,"y":440,"wires":[[]]},{"id":"94212bf2.5ab1a8","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":480,"wires":[["e96f4524.328648"]]},{"id":"7f769fbd.65807","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":380,"wires":[["e165e31e.ed02d"]]},{"id":"bb4abea0.7fb3f","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":180,"wires":[["7dbddb.c50f5224"]]},{"id":"54b15b21.c57eb4","type":"function","z":"c5eccb0d.f59768","name":"random air","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 3 - 1 ) + 1 ));\nglobal.set('airp2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":290,"y":540,"wires":[[]]},{"id":"fba00428.bb8c78","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":580,"wires":[["fc2861d.bc90aa"]]},{"id":"6c706987.565208","type":"function","z":"c5eccb0d.f59768","name":"random noise","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 3 - 1 ) + 1 ));\nglobal.set('noise2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":300,"y":620,"wires":[[]]},{"id":"32628b4c.32f794","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":660,"wires":[["7df2400e.7b186"]]},{"id":"123da299.4ca0fd","type":"json","z":"c5eccb0d.f59768","name":"","property":"payload","action":"str","pretty":false,"x":450,"y":720,"wires":[["d3c0b1e7.6b4f8"]]},{"id":"d3c0b1e7.6b4f8","type":"encrypt","z":"c5eccb0d.f59768","name":"","algorithm":"DES","key":"12345","x":620,"y":720,"wires":[["5a3d8aac.059a64"]]},{"id":"795af8d.ca22c08","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":340,"wires":[["e165e31e.ed02d","6ca1cccd.ecec64"]]},{"id":"98b85bc.b4586a8","type":"delay","z":"c5eccb0d.f59768","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":240,"wires":[["967e12ca.f007d","d44ebdfc.32353"]]},{"id":"6ad7feca.28cfe","type":"function","z":"c5eccb0d.f59768","name":"random count","func":"msg.payload = parseInt(Math.floor(Math.random() * ( 35 - 1 ) + 1 ));\nglobal.set('count2', msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":335,"y":240,"wires":[[]]},{"id":"3f02e6b9.7e560a","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":280,"wires":[["d44ebdfc.32353"]]},{"id":"3c40f4d3.ef4b8c","type":"ui_gauge","z":"77432b46.032504","name":"Temperature","group":"9ac88357.98daa","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":200,"wires":[]},{"id":"1f9d606.7591aa","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":true,"x":270,"y":140,"wires":[["3c40f4d3.ef4b8c","c7f80e16.127a8","ef8a9357.2d299"]]},{"id":"ccec87e2.de8b48","type":"ui_chart","z":"77432b46.032504","name":"Temperature monitoring","group":"9ac88357.98daa","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":240,"wires":[[]]},{"id":"c7f80e16.127a8","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":360,"y":240,"wires":[["ccec87e2.de8b48"]]},{"id":"4d11c20.864f84","type":"decrypt","z":"77432b46.032504","name":"","algorithm":"AES","key":"1234","x":120,"y":140,"wires":[["1f9d606.7591aa"]]},{"id":"bad6def4.4483f","type":"mqtt in","z":"77432b46.032504","name":"Temperature","topic":"room2/temperature","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":110,"y":80,"wires":[["4d11c20.864f84","4d11c20.864f84"]]},{"id":"fea8b64.ca42b48","type":"ui_gauge","z":"77432b46.032504","name":"Brightness","group":"232d9ce5.358d14","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":400,"wires":[]},{"id":"d99ca6d9.67b6f8","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":true,"x":250,"y":460,"wires":[["a0ca40ed.d7427","fea8b64.ca42b48","7b45f41.fc0530c","d7fc6f71.6a11e"]]},{"id":"a0ca40ed.d7427","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":440,"wires":[]},{"id":"7ff90fe.4a94ff","type":"ui_chart","z":"77432b46.032504","name":"Brightness monitoring","group":"232d9ce5.358d14","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":500,"wires":[[]]},{"id":"7b45f41.fc0530c","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":540,"y":500,"wires":[["7ff90fe.4a94ff"]]},{"id":"731974e7.325d7c","type":"tcp in","z":"77432b46.032504","name":"Brightness","server":"server","host":"127.0.0.1","port":"20","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":460,"wires":[["d99ca6d9.67b6f8"]]},{"id":"ab4b23c0.21198","type":"inject","z":"77432b46.032504","name":"","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":660,"wires":[["6d8f9e95.c84cb"]]},{"id":"8c5e40a8.8c99a","type":"ui_template","z":"77432b46.032504","group":"55fde590.bf682c","name":"Camera image","order":1,"width":"6","height":"6","format":"<div layout='row' layout-align='space-between'><img width='300' height='200' src='{{(msg.responseUrl)}}'></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":620,"wires":[[]]},{"id":"6d8f9e95.c84cb","type":"http request","z":"77432b46.032504","name":"Camera","method":"GET","ret":"bin","paytoqs":false,"url":"https://i.ibb.co/7k65BpM/people-1.jpg  ","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":660,"wires":[["8c5e40a8.8c99a","19151f3e.7b9e71"]]},{"id":"50037b64.55a7d4","type":"ui_gauge","z":"77432b46.032504","name":"PIR","group":"bb7f9bd3.c01868","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":760,"wires":[]},{"id":"475e26f6.5e5d78","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":true,"x":390,"y":800,"wires":[["7d1290d5.227b6","50037b64.55a7d4","ca72d33e.c2a7e","9bbb5475.c584a8"]]},{"id":"7d1290d5.227b6","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":800,"wires":[]},{"id":"2826e425.ac778c","type":"ui_chart","z":"77432b46.032504","name":"PIR monitoring","group":"bb7f9bd3.c01868","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[[]]},{"id":"ca72d33e.c2a7e","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":560,"y":720,"wires":[["2826e425.ac778c"]]},{"id":"bd061ebe.e7ab5","type":"mqtt in","z":"77432b46.032504","name":"PIR","topic":"room2/presence","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":90,"y":800,"wires":[["475e26f6.5e5d78"]]},{"id":"c522e564.e703f8","type":"inject","z":"77432b46.032504","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":940,"wires":[["dbfe1dd8.fff74"]]},{"id":"107b6ed1.aed6e1","type":"ui_gauge","z":"77432b46.032504","name":"Air_quality","group":"d6628e71.eaac2","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":900,"wires":[]},{"id":"59971a2.7b87fe4","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":true,"x":490,"y":940,"wires":[["2f7ee276.0a70fe","107b6ed1.aed6e1","5c7a6a32.7dfeb4"]]},{"id":"2f7ee276.0a70fe","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":940,"wires":[]},{"id":"6be99682.b036b8","type":"ui_chart","z":"77432b46.032504","name":"Air_quality monitoring","group":"d6628e71.eaac2","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":1000,"wires":[[]]},{"id":"5c7a6a32.7dfeb4","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1000,"wires":[["6be99682.b036b8"]]},{"id":"dbfe1dd8.fff74","type":"http request","z":"77432b46.032504","name":"Air_quality","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:18880/room2-air","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":940,"wires":[["f64d6c14.32329"]]},{"id":"f95436fd.a6b188","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1100,"wires":[["86c8d749.3f1128","ebd39b75.d22d28"]]},{"id":"86c8d749.3f1128","type":"ui_text","z":"77432b46.032504","group":"9ddabfe1.f15f3","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-center","x":390,"y":1140,"wires":[]},{"id":"820d3dfb.a1ba","type":"tcp in","z":"77432b46.032504","name":"Smoke","server":"server","host":"127.0.0.1","port":"188","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":90,"y":1100,"wires":[["f95436fd.a6b188"]]},{"id":"c22cbd8e.107e3","type":"ui_gauge","z":"77432b46.032504","name":"Noise","group":"34c802ff.ab651e","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1200,"wires":[]},{"id":"808d491.4ae0ab8","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":true,"x":290,"y":1240,"wires":[["e830b444.413fd8","c22cbd8e.107e3","78a5e68b.8e4e18","da98b996.141128"]]},{"id":"e830b444.413fd8","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1240,"wires":[]},{"id":"d516366a.8736f8","type":"ui_chart","z":"77432b46.032504","name":"Noise monitoring","group":"34c802ff.ab651e","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":1280,"wires":[[]]},{"id":"78a5e68b.8e4e18","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":500,"y":1280,"wires":[["d516366a.8736f8"]]},{"id":"4dec2fc1.71679","type":"mqtt in","z":"77432b46.032504","name":"Noise","topic":"room2/noise","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":90,"y":1240,"wires":[["808d491.4ae0ab8"]]},{"id":"40863aec.5f4be4","type":"ui_gauge","z":"77432b46.032504","name":"Humidity","group":"18a40564.5535eb","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1360,"wires":[]},{"id":"dd1337a1.153518","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"obj","pretty":true,"x":290,"y":1400,"wires":[["716885da.8a244c","40863aec.5f4be4","53dd1d98.a54cb4"]]},{"id":"716885da.8a244c","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1400,"wires":[]},{"id":"e949408a.7c006","type":"ui_chart","z":"77432b46.032504","name":"Humidity monitoring","group":"18a40564.5535eb","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":1440,"wires":[[]]},{"id":"53dd1d98.a54cb4","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":500,"y":1440,"wires":[["e949408a.7c006"]]},{"id":"31240318.2ee29c","type":"mqtt in","z":"77432b46.032504","name":"Humidity","topic":"room2/humidity","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":100,"y":1400,"wires":[["dd1337a1.153518"]]},{"id":"7e2b043a.262c8c","type":"tcp in","z":"77432b46.032504","name":"Conditioner","server":"server","host":"127.0.0.1","port":"21","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":130,"y":1560,"wires":[["b249877a.162ae8"]]},{"id":"c2d7051b.ed7448","type":"ui_text","z":"77432b46.032504","group":"2fc3c008.2fdf9","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1560,"wires":[]},{"id":"40a3c2be.01dd7c","type":"udp in","z":"77432b46.032504","name":"Electrical_light_system","iface":"","port":"15","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":1860,"wires":[["fbd1a5e2.8c78d8"]]},{"id":"4a364744.2d52d8","type":"ui_switch","z":"77432b46.032504","name":"Electrical_light_system switch","label":"switch","tooltip":"","group":"75e3ac85.930104","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":1900,"wires":[["f9c88f57.d6a6e"]]},{"id":"fbd1a5e2.8c78d8","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"str","pretty":false,"x":430,"y":1860,"wires":[["a9f13430.832b78","a9f13430.832b78","2d393edf.8427b2"]]},{"id":"a9f13430.832b78","type":"ui_text","z":"77432b46.032504","group":"75e3ac85.930104","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1860,"wires":[]},{"id":"f9c88f57.d6a6e","type":"udp out","z":"77432b46.032504","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"15","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":700,"y":1900,"wires":[]},{"id":"5eeeea1e.5003c4","type":"ui_switch","z":"77432b46.032504","name":"sirena switch","label":"switch","tooltip":"","group":"4df17430.5479cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":2040,"wires":[["1d7f0f21.8fd761"]]},{"id":"c98556dd.7d3ac8","type":"ui_text","z":"77432b46.032504","group":"4df17430.5479cc","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1980,"wires":[]},{"id":"12e6150c.08de7b","type":"comment","z":"77432b46.032504","name":"Temperature_monitoring","info":"","x":150,"y":40,"wires":[]},{"id":"fbe5b641.114a88","type":"comment","z":"77432b46.032504","name":"Light_monitoring","info":"","x":100,"y":360,"wires":[]},{"id":"e016a612.4acd18","type":"comment","z":"77432b46.032504","name":"Presence_monitoring","info":"","x":120,"y":600,"wires":[]},{"id":"4b9843f.9079cbc","type":"comment","z":"77432b46.032504","name":"Air_quality_monitoring","info":"","x":120,"y":860,"wires":[]},{"id":"f8e0d638.a62ba8","type":"comment","z":"77432b46.032504","name":"Noise_monitoring","info":"","x":100,"y":1188,"wires":[]},{"id":"f64d6c14.32329","type":"decrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"123456","x":400,"y":900,"wires":[["59971a2.7b87fe4"]]},{"id":"b249877a.162ae8","type":"decrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":340,"y":1560,"wires":[["c15a5e2e.a7cdc"]]},{"id":"ef8a9357.2d299","type":"switch","z":"77432b46.032504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":140,"wires":[["9298f59f.2505d8"],["f6bd5aaa.d95c68"]]},{"id":"9298f59f.2505d8","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["155321e7.3ba49e"]]},{"id":"2dc60aa2.7adf76","type":"ui_switch","z":"77432b46.032504","name":"Conditioner switch","label":"switch","tooltip":"","group":"2fc3c008.2fdf9","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":1620,"wires":[["4c73bcb1.532a24"]]},{"id":"e8cf5aaf.3b2508","type":"tcp out","z":"77432b46.032504","host":"127.0.0.1","port":"21","beserver":"client","base64":false,"end":true,"name":"Conditioner","x":710,"y":1620,"wires":[]},{"id":"4b1a5d1c.dbc4f4","type":"encrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":500,"y":1620,"wires":[["e8cf5aaf.3b2508"]]},{"id":"f6bd5aaa.d95c68","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["155321e7.3ba49e"]]},{"id":"308877e.5cb3b88","type":"tcp out","z":"77432b46.032504","host":"127.0.0.1","port":"21","beserver":"client","base64":false,"end":true,"name":"Conditioner","x":1010,"y":140,"wires":[]},{"id":"d5662641.d19c68","type":"encrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":860,"y":140,"wires":[["308877e.5cb3b88"]]},{"id":"c15a5e2e.a7cdc","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":1560,"wires":[["c2d7051b.ed7448","40e73787.09a0e8","ff8c9612.f18e38"]]},{"id":"4c73bcb1.532a24","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1620,"wires":[["4b1a5d1c.dbc4f4"]]},{"id":"1d7f0f21.8fd761","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"str","pretty":false,"x":270,"y":2040,"wires":[["5bcf498.e2b4ab8"]]},{"id":"ebd39b75.d22d28","type":"switch","z":"77432b46.032504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":1080,"wires":[["41bf796e.e56d28"],["e610149.0d0bde8"]]},{"id":"41bf796e.e56d28","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1060,"wires":[["fe662d63.727f2","c8cb3f3c.65081"]]},{"id":"e610149.0d0bde8","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1100,"wires":[["fe662d63.727f2"]]},{"id":"fe662d63.727f2","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1080,"wires":[["45f0d7df.978d98"]]},{"id":"a8bbd0b1.d04d7","type":"ui_audio","z":"77432b46.032504","name":"","group":"4df17430.5479cc","voice":"en-US","always":true,"x":1000,"y":1040,"wires":[]},{"id":"c8cb3f3c.65081","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Smoke detected in room 2","output":"str","x":840,"y":1040,"wires":[["a8bbd0b1.d04d7","376c74af.01e9dc"]]},{"id":"376c74af.01e9dc","type":"ui_toast","z":"77432b46.032504","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1000,"y":980,"wires":[]},{"id":"58312b4f.d40cd4","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"str","pretty":false,"x":430,"y":1980,"wires":[["c98556dd.7d3ac8","aefb0c83.36e58"]]},{"id":"d7fc6f71.6a11e","type":"switch","z":"77432b46.032504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"3","v2t":"num"},{"t":"btwn","v":"4","vt":"num","v2":"5","v2t":"num"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":460,"wires":[["3981ad6d.5fdb52"],["d6826272.292c5"]]},{"id":"3981ad6d.5fdb52","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":420,"wires":[["515d677d.6c6238"]]},{"id":"d6826272.292c5","type":"change","z":"77432b46.032504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":480,"wires":[["515d677d.6c6238"]]},{"id":"515d677d.6c6238","type":"udp out","z":"77432b46.032504","name":"Electrical_light_system","addr":"127.0.0.1","iface":"","port":"15","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1180,"y":460,"wires":[]},{"id":"19151f3e.7b9e71","type":"object-detector","z":"77432b46.032504","service":"5a56177.ea10be8","method":"predict","passthrough":false,"annotated_input":false,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.2","predict_thresholdType":"str","name":"","x":520,"y":660,"wires":[["ed3de14a.fe3c7"]]},{"id":"ed3de14a.fe3c7","type":"function","z":"77432b46.032504","name":"","func":"var people = 0;\nfor(var i=0;i<msg.details.predictions.length;i++){\n    if(msg.details.predictions[i].label == \"person\" && msg.details.predictions[i].probability >=0.15){\n    people = people+1;\n       msg.payload = people.toString()\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":660,"wires":[["b3a90a8f.4f7498"]]},{"id":"b3a90a8f.4f7498","type":"ui_text","z":"77432b46.032504","group":"55fde590.bf682c","order":2,"width":0,"height":0,"name":"","label":"People detected:","format":"{{msg.payload}}","layout":"row-center","x":890,"y":660,"wires":[]},{"id":"34b63ed5.113ea2","type":"http in","z":"53239614.15afa8","name":"","url":"/room-1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1340,"wires":[["ec8832d7.4201e"]]},{"id":"ec8832d7.4201e","type":"function","z":"53239614.15afa8","name":"","func":"\nvar pres2 = global.get(\"press_1\")\nvar noise1 = global.get('noisee_1')\nvar temp1 = global.get('temp_1')\nvar hum1 = global.get('hum_1')\nvar smoke1 = global.get('smoke_1')\nvar bright1 = global.get(\"bri_1\")\nvar airq1= global.get(\"airq_1\")\nvar cond1 = global.get(\"cond_1\")\nvar elect= global.get(\"elec_1\")\nvar sirena = global.get(\"sir_1\")\n\nmsg.payload = \"\"\n\nmsg.payload =`{\n\"room\":\"room1\",\n\"presence\":\"${pres2}\",\n\"noise\":\"${noise1}\",\n\"temperature\":\"${temp1}\",\n\"humidity\":\"${hum1}\",\n\"smoke\":\"${smoke1}\",\n\"bright\":\"${bright1}\",\n\"air\":\"${airq1}\",\n\"cond\":\"${cond1}\",\n\"elect\":\"${elect}\",\n\"sirena\":\"${sirena}\"\n}`\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1340,"wires":[["82ca992c.69ac48"]]},{"id":"b531d0da.6a302","type":"http response","z":"53239614.15afa8","name":"","statusCode":"","headers":{},"x":850,"y":1340,"wires":[]},{"id":"40c57e33.b89c1","type":"debug","z":"53239614.15afa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1380,"wires":[]},{"id":"59acfb59.56b1b4","type":"http request","z":"53239614.15afa8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:18880/room-1","tls":"","persist":true,"proxy":"","authType":"","x":550,"y":1380,"wires":[["40c57e33.b89c1"]]},{"id":"9e7a3b0e.88eb48","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1380,"wires":[["59acfb59.56b1b4"]]},{"id":"3f719ff2.0f073","type":"function","z":"1012be9a.d56111","name":"","func":"var time = new Date().getTime();\nvar bb = `{\"room\":\"room1\",\"presence\":${msg.payload.value},\"time\":${time}}`\nglobal.set('presence_1',bb );\nconsole.log(global.get(\"presence_1\"))\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":840,"wires":[[]]},{"id":"9bbb5475.c584a8","type":"function","z":"77432b46.032504","name":"","func":"\nvar time = new Date().getTime();\nconsole.log(time)\nvar bb = `{\"room\":\"room2\",\"presence\":${msg.payload.value},\"time\":${time}}`\nglobal.set(\"presence_2\",bb)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":840,"wires":[[]]},{"id":"c467dec1.96262","type":"http in","z":"53239614.15afa8","name":"","url":"/sus-noise","method":"get","upload":true,"swaggerDoc":"","x":200,"y":1520,"wires":[["eb1c2369.95efe"]]},{"id":"eb1c2369.95efe","type":"function","z":"53239614.15afa8","name":"","func":"//find the place with less presence of people\n\nvar noise1 = global.get('noise_1')\nvar noise2 = global.get('noise_2')\nnoise1 =JSON.parse(noise1)\nnoise2 = JSON.parse(noise2)\n\nif(noise1.noise > noise2.noise){\n    msg.payload = noise2\n}\nelse{\n        msg.payload = noise1\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["7137a4bd.27657c","53c096cc.f7ff28"]]},{"id":"7137a4bd.27657c","type":"http response","z":"53239614.15afa8","name":"","statusCode":"","headers":{},"x":730,"y":1520,"wires":[]},{"id":"615841f7.85be1","type":"function","z":"1012be9a.d56111","name":"","func":"var time = new Date().getTime()\nvar bb = `{\"room\":\"room1\",\"noise\":${msg.payload.value},\"time\":${time}}`\nglobal.set('noise_1',bb );\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[[]]},{"id":"da98b996.141128","type":"function","z":"77432b46.032504","name":"","func":"\nvar time = new Date().getTime();\nconsole.log(time)\nvar bb = `{\"room\":\"room2\",\"noise\":${msg.payload.value},\"time\":${time}}`\nglobal.set('noise_2',bb );\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[[]]},{"id":"aafa4022.cad0e","type":"http request","z":"53239614.15afa8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:18880/sus-noise","tls":"","persist":true,"proxy":"","authType":"","x":550,"y":1560,"wires":[["53c096cc.f7ff28"]]},{"id":"9f1f13df.5c85d","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1560,"wires":[["aafa4022.cad0e"]]},{"id":"53c096cc.f7ff28","type":"debug","z":"53239614.15afa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1560,"wires":[]},{"id":"e97ee64b.588b58","type":"http request","z":"53239614.15afa8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:18880/sus-presence","tls":"","persist":true,"proxy":"","authType":"","x":550,"y":1200,"wires":[["3fe663a4.cf5a5c"]]},{"id":"49f537d.3e5ddc8","type":"inject","z":"53239614.15afa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1200,"wires":[["e97ee64b.588b58"]]},{"id":"3fe663a4.cf5a5c","type":"debug","z":"53239614.15afa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1200,"wires":[]},{"id":"ae9f652c.1df118","type":"http in","z":"53239614.15afa8","name":"","url":"/sus-presence","method":"get","upload":true,"swaggerDoc":"","x":210,"y":1160,"wires":[["c6d74caf.952e1"]]},{"id":"c6d74caf.952e1","type":"function","z":"53239614.15afa8","name":"","func":"//find the place with less presence of people\n\nvar pres1 = global.get('presence_1')\nvar pres2 = global.get('presence_2')\n\npres1 = JSON.parse(pres1)\npres2 = JSON.parse(pres2)\nconsole.log(pres1)\nconsole.log(pres2)\nif(pres1.presence > pres2.presence){\n    msg.payload = pres2\n  \n}\n\nelse{\n        msg.payload = pres1\n    \n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1160,"wires":[["34e15aba.1dacf6","3fe663a4.cf5a5c"]]},{"id":"34e15aba.1dacf6","type":"http response","z":"53239614.15afa8","name":"","statusCode":"","headers":{},"x":750,"y":1160,"wires":[]},{"id":"167b41c9.83e24e","type":"function","z":"1012be9a.d56111","name":"","func":"\nglobal.set('cond_1',msg.payload );\nglobal.set('set_cond_1',msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1500,"wires":[[]]},{"id":"f8a8c5b4.6cf648","type":"function","z":"1012be9a.d56111","name":"","func":"\nglobal.set('elec_1',msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1800,"wires":[[]]},{"id":"c85068ce.126b98","type":"function","z":"1012be9a.d56111","name":"","func":"\nglobal.set('sir_1',msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1900,"wires":[[]]},{"id":"b9bfad6b.7373e","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":700,"y":1080,"wires":[["773bd425.3228bc"]]},{"id":"132190c6.89b9df","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":400,"y":1940,"wires":[["c85068ce.126b98","e953224b.48664"]]},{"id":"45f0d7df.978d98","type":"encrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":840,"y":1080,"wires":[["80d11a79.986548"]]},{"id":"bb83cbb.c6e9738","type":"decrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":260,"y":1980,"wires":[["58312b4f.d40cd4"]]},{"id":"5bcf498.e2b4ab8","type":"encrypt","z":"77432b46.032504","name":"","algorithm":"DES","key":"12345","x":460,"y":2040,"wires":[["aceaad74.1558"]]},{"id":"10b7723e.56c2ae","type":"mqtt in","z":"77432b46.032504","name":"","topic":"room2/sirena","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":90,"y":1980,"wires":[["bb83cbb.c6e9738"]]},{"id":"aceaad74.1558","type":"mqtt out","z":"77432b46.032504","name":"","topic":"room2/sirena","qos":"0","retain":"","broker":"effea0df.66bc7","x":690,"y":2040,"wires":[]},{"id":"80d11a79.986548","type":"mqtt out","z":"77432b46.032504","name":"","topic":"room2/sirena","qos":"0","retain":"","broker":"effea0df.66bc7","x":1010,"y":1080,"wires":[]},{"id":"c2b0b5dd.537918","type":"mqtt out","z":"c5eccb0d.f59768","name":"","topic":"room2/sirena","qos":"0","retain":"","broker":"effea0df.66bc7","x":1110,"y":780,"wires":[]},{"id":"2d393edf.8427b2","type":"function","z":"77432b46.032504","name":"","func":"\nglobal.set('ele_2',msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1820,"wires":[[]]},{"id":"aefb0c83.36e58","type":"function","z":"77432b46.032504","name":"","func":"\nglobal.set('sir_2',msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1940,"wires":[[]]},{"id":"40e73787.09a0e8","type":"function","z":"77432b46.032504","name":"","func":"\nglobal.set('condd_2', msg.payload );\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1500,"wires":[[]]},{"id":"e2005818.5627a8","type":"http in","z":"c5eccb0d.f59768","name":"","url":"/room-2","method":"get","upload":false,"swaggerDoc":"","x":330,"y":1240,"wires":[["ed61109f.1efb8"]]},{"id":"ed61109f.1efb8","type":"function","z":"c5eccb0d.f59768","name":"","func":"var smoke1 = global.get('smoke_2')\nvar bright1 = global.get(\"brig_2\")\nvar airq1= global.get(\"airq_2\")\nvar cond1 = global.get(\"condd_2\")\nvar elect= global.get(\"ele_2\")\nvar sirena = global.get(\"sir_2\")\n\nvar pres1 = global.get('press_2')\nvar noise1 = global.get('noisee_2')\nvar temp1 = global.get('temp_2')\nvar hum1 = global.get('hum_2')\n\nmsg.payload =`{\n\"room\":\"room2\",\n\"presence\":\"${pres1}\",\n\"noise\":\"${noise1}\",\n\"temperature\":\"${temp1}\",\n\"humidity\":\"${hum1}\",\n\"smoke\":\"${smoke1}\",\n\"bright\":\"${bright1}\",\n\"air\":\"${airq1}\",\n\"cond\":\"${cond1}\",\n\"elect\":\"${elect}\",\n\"sirena\":\"${sirena}\"\n}`\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1240,"wires":[["4dc3ea50.252f34"]]},{"id":"3df61465.f0c0bc","type":"http response","z":"c5eccb0d.f59768","name":"","statusCode":"","headers":{},"x":950,"y":1220,"wires":[]},{"id":"855574ab.fedaa8","type":"debug","z":"c5eccb0d.f59768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1280,"wires":[]},{"id":"df5f3ed0.18a5a","type":"http request","z":"c5eccb0d.f59768","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:18880/room-2","tls":"","persist":true,"proxy":"","authType":"","x":690,"y":1280,"wires":[["855574ab.fedaa8"]]},{"id":"fcc98f4d.8b06a","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1280,"wires":[["df5f3ed0.18a5a"]]},{"id":"1ab2a673.2d595a","type":"function","z":"c5eccb0d.f59768","name":"","func":"global.set(\"brig_2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[[]]},{"id":"155321e7.3ba49e","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":780,"y":80,"wires":[["e3a741d8.a9dc3"]]},{"id":"e3a741d8.a9dc3","type":"function","z":"77432b46.032504","name":"","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["d5662641.d19c68","e8b03fe9.4f1bd"]]},{"id":"ff8c9612.f18e38","type":"debug","z":"77432b46.032504","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1520,"wires":[]},{"id":"e8b03fe9.4f1bd","type":"debug","z":"77432b46.032504","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":220,"wires":[]},{"id":"82ca992c.69ac48","type":"json","z":"53239614.15afa8","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":1340,"wires":[["b531d0da.6a302"]]},{"id":"4dc3ea50.252f34","type":"json","z":"c5eccb0d.f59768","name":"","property":"payload","action":"str","pretty":false,"x":790,"y":1160,"wires":[["3df61465.f0c0bc"]]},{"id":"cce1788.8138c88","type":"tcp out","z":"1012be9a.d56111","host":"127.0.0.1","port":"91","beserver":"client","base64":false,"end":true,"name":"Conditioner","x":1070,"y":200,"wires":[]},{"id":"49833611.d45378","type":"encrypt","z":"1012be9a.d56111","name":"","algorithm":"DES","key":"12345","x":920,"y":200,"wires":[["cce1788.8138c88"]]},{"id":"ef5f0554.34add8","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":840,"y":140,"wires":[["750629a8.3f8d38"]]},{"id":"750629a8.3f8d38","type":"function","z":"1012be9a.d56111","name":"","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":160,"wires":[["49833611.d45378"]]},{"id":"4db25bb0.88c274","type":"encrypt","z":"1012be9a.d56111","name":"","algorithm":"DES","key":"12345","x":660,"y":1620,"wires":[["9b8b2030.ed6b6"]]},{"id":"689106a0.e240b8","type":"decrypt","z":"1012be9a.d56111","name":"","algorithm":"DES","key":"12345","x":280,"y":1560,"wires":[["2e47c288.b2255e"]]},{"id":"48ae9cdb.d2f814","type":"encrypt","z":"53239614.15afa8","name":"","algorithm":"DES","key":"12345","x":840,"y":700,"wires":[["4d249eb7.b7ff4"]]},{"id":"de173ffc.7353d","type":"debug","z":"1012be9a.d56111","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":80,"wires":[]},{"id":"a2f0fa68.ef3348","type":"http request","z":"c5eccb0d.f59768","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:18880/room1-cond","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1460,"wires":[["d66334dc.c3e198"]]},{"id":"1adeb0cd.57b74f","type":"inject","z":"c5eccb0d.f59768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1460,"wires":[["a2f0fa68.ef3348"]]},{"id":"d66334dc.c3e198","type":"debug","z":"c5eccb0d.f59768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1460,"wires":[]},{"id":"798bb36a.f3166c","type":"http in","z":"c5eccb0d.f59768","name":"","url":"/room1-cond","method":"get","upload":true,"swaggerDoc":"","x":360,"y":1400,"wires":[["94a14276.fe831"]]},{"id":"94a14276.fe831","type":"function","z":"c5eccb0d.f59768","name":"","func":"msg.payload = global.get(\"cond_2\")\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1400,"wires":[["b4dc1266.b6cc2"]]},{"id":"1348c7fd.b137d8","type":"http response","z":"c5eccb0d.f59768","name":"","statusCode":"","headers":{},"x":1010,"y":1400,"wires":[]},{"id":"b4dc1266.b6cc2","type":"json","z":"c5eccb0d.f59768","name":"","property":"payload","action":"str","pretty":false,"x":830,"y":1400,"wires":[["1348c7fd.b137d8"]]},{"id":"22530f0c.6cbfd","type":"debug","z":"1012be9a.d56111","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1520,"wires":[]},{"id":"991ba21f.90ccd","type":"http in","z":"53239614.15afa8","name":"","url":"/room1-cond-true","method":"get","upload":true,"swaggerDoc":"","x":140,"y":740,"wires":[["a72e1c39.26ab3"]]},{"id":"a72e1c39.26ab3","type":"function","z":"53239614.15afa8","name":"","func":"msg.payload=\"true\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":740,"wires":[["461a2dcf.3ab414","a1f2ff3f.ecc95"]]},{"id":"a1f2ff3f.ecc95","type":"debug","z":"53239614.15afa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":740,"wires":[]},{"id":"beee9d70.a60bc","type":"function","z":"1012be9a.d56111","name":"","func":"\n  global.set(\"set_cond_1\",msg.payload.value)  \n  msg.payload = msg.payload.value\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1680,"wires":[["b631a36c.7a5c1"]]},{"id":"7ee626c4.75b028","type":"http in","z":"1012be9a.d56111","name":"","url":"/room1-cond","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1680,"wires":[["7ecfc37e.0f61dc"]]},{"id":"7ecfc37e.0f61dc","type":"json","z":"1012be9a.d56111","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":1680,"wires":[["6d479cc9.ed4384","beee9d70.a60bc","79ef5b57.6db0e4"]]},{"id":"b631a36c.7a5c1","type":"template","z":"1012be9a.d56111","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":660,"y":1680,"wires":[["4db25bb0.88c274","bfdb7eee.8b19d"]]},{"id":"bfdb7eee.8b19d","type":"debug","z":"1012be9a.d56111","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1680,"wires":[]},{"id":"6d479cc9.ed4384","type":"http response","z":"1012be9a.d56111","name":"","statusCode":"","headers":{},"x":470,"y":1760,"wires":[]},{"id":"79ef5b57.6db0e4","type":"debug","z":"1012be9a.d56111","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1720,"wires":[]},{"id":"25b8c662.fa5e9a","type":"function","z":"77432b46.032504","name":"","func":"\n      global.set(\"set_cond_2\",msg.payload.value) \n      msg.payload = msg.payload.value\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1660,"wires":[["790aeb53.2957c4"]]},{"id":"b6fdf5d5.9d8f88","type":"http in","z":"77432b46.032504","name":"","url":"/cond-room2","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1760,"wires":[["66a647ec.5fd558"]]},{"id":"66a647ec.5fd558","type":"json","z":"77432b46.032504","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":1700,"wires":[["793c2ecd.a7df4","25b8c662.fa5e9a","6755a0d.80c9c6"]]},{"id":"790aeb53.2957c4","type":"template","z":"77432b46.032504","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":540,"y":1660,"wires":[["4b1a5d1c.dbc4f4"]]},{"id":"793c2ecd.a7df4","type":"http response","z":"77432b46.032504","name":"","statusCode":"","headers":{},"x":390,"y":1740,"wires":[]},{"id":"6755a0d.80c9c6","type":"debug","z":"77432b46.032504","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1700,"wires":[]},{"id":"c54d592d.05feb8","type":"mqtt in","z":"1012be9a.d56111","name":"","topic":"room1/sirena","qos":"0","datatype":"auto","broker":"effea0df.66bc7","x":150,"y":1940,"wires":[["132190c6.89b9df"]]},{"id":"ea3f78ea.242048","type":"mqtt out","z":"1012be9a.d56111","name":"","topic":"room1/sirena","qos":"0","retain":"","broker":"effea0df.66bc7","x":650,"y":2000,"wires":[]},{"id":"7dc41413.d451bc","type":"mqtt out","z":"53239614.15afa8","name":"","topic":"room1/sirena","qos":"0","retain":"","broker":"effea0df.66bc7","x":1130,"y":780,"wires":[]}]