electronflow.json
[{"id":"82e7263f.488141","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.5967","type":"ui_group","z":"41f61d2.649979","name":"getHumidity","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"a82ffb36.5967","type":"ui_gauge","z":"41f61d2.649979","name":"getHumidity","group":"dca5gfd0.5967","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":40,"wires":[]},{"id":"82e7263f.5967","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":100,"wires":[["2a08c57b.5967","a82ffb36.5967","46dg574s.5967"]]},{"id":"2a08c57b.5967","type":"debug","z":"41f61d2.649979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"9d19d8fc.5967","type":"ui_chart","name":"getHumidity monitoring","z":"41f61d2.649979","ymin":"","ymax":"","group":"dca5gfd0.5967","order":1,"width":0,"height":0,"label":"getHumidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":140,"wires":[[]]},{"id":"46dg574s.5967","type":"template","z":"41f61d2.649979","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":140,"wires":[["9d19d8fc.5967"]]},{"id":"42a56979.488141","z":"41f61d2.649979","type":"mqtt in","name":"getHumidity","qos":"b","topic":"b","broker":"82e7263f.488141","x":"100","y":"100","wires":[["174b1d51.488141","82e7263f.5967"]]},{"id":"82e7263f.456426","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.106605","type":"ui_group","z":"41f61d2.649979","name":"getTemperature","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.106605","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":250,"wires":[["41f61d2.106605"]]},{"id":"41f61d2.106605","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.106605","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":190,"wires":[]},{"id":"42a56979.456426","z":"41f61d2.649979","type":"mqtt in","name":"getTemperature","qos":"","topic":"","broker":"82e7263f.456426","x":"100","y":"250","wires":[["174b1d51.456426","sdf45dgd.106605"]]},{"id":"82e7263f.433170","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.808030","type":"ui_group","z":"41f61d2.649979","name":"TurnON","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.808030","z":"41f61d2.649979","type":"mqtt in","name":"TurnON","qos":"b","topic":"b","broker":"82e7263f.433170","x":"100","y":"400","wires":[["174b1d51.433170","sdf45dgd.808030"]]},{"id":"82e7263f.808030","type":"ui_switch","z":"41f61d2.649979","name":"TurnON switch","label":"switch","tooltip":"","group":"dca5gfd0.808030","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":340,"wires":[[]]},{"id":"sdf45dgd.808030","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":400,"wires":[["41f61d2.808030","41f61d2.808030"]]},{"id":"41f61d2.808030","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.808030","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":340,"wires":[]},{"id":"42a56979.433170","z":"41f61d2.649979","type":"mqtt out","name":"TurnON","qos":"b","topic":"b","broker":"82e7263f.433170","x":850,"y":340,"wires":[["174b1d51.433170"]]},{"id":"82e7263f.576260","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.8096","type":"ui_group","z":"41f61d2.649979","name":"TurnOFF","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.8096","z":"41f61d2.649979","type":"mqtt in","name":"TurnOFF","qos":"b","topic":"b","broker":"82e7263f.576260","x":"100","y":"550","wires":[["174b1d51.576260","sdf45dgd.8096"]]},{"id":"82e7263f.8096","type":"ui_switch","z":"41f61d2.649979","name":"TurnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.8096","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":490,"wires":[[]]},{"id":"sdf45dgd.8096","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":550,"wires":[["41f61d2.8096","41f61d2.8096"]]},{"id":"41f61d2.8096","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.8096","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":490,"wires":[]},{"id":"42a56979.576260","z":"41f61d2.649979","type":"mqtt out","name":"TurnOFF","qos":"b","topic":"b","broker":"82e7263f.576260","x":850,"y":490,"wires":[["174b1d51.576260"]]},{"id":"82e7263f.530072","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.338906","type":"ui_group","z":"41f61d2.649979","name":"turnON","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.338906","z":"41f61d2.649979","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.530072","x":"100","y":"700","wires":[["174b1d51.530072","sdf45dgd.338906"]]},{"id":"82e7263f.338906","type":"ui_switch","z":"41f61d2.649979","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.338906","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":640,"wires":[[]]},{"id":"sdf45dgd.338906","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":700,"wires":[["41f61d2.338906","41f61d2.338906"]]},{"id":"41f61d2.338906","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.338906","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"42a56979.530072","z":"41f61d2.649979","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.530072","x":850,"y":640,"wires":[["174b1d51.530072"]]},{"id":"82e7263f.139094","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.82674","type":"ui_group","z":"41f61d2.649979","name":"turnOFF","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.82674","z":"41f61d2.649979","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.139094","x":"100","y":"850","wires":[["174b1d51.139094","sdf45dgd.82674"]]},{"id":"82e7263f.82674","type":"ui_switch","z":"41f61d2.649979","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.82674","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":790,"wires":[[]]},{"id":"sdf45dgd.82674","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":850,"wires":[["41f61d2.82674","41f61d2.82674"]]},{"id":"41f61d2.82674","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.82674","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":790,"wires":[]},{"id":"42a56979.139094","z":"41f61d2.649979","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.139094","x":850,"y":790,"wires":[["174b1d51.139094"]]},{"id":"82e7263f.755103","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.928923","type":"ui_group","z":"41f61d2.649979","name":"getCamera","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.928923","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1000,"wires":[["41f61d2.928923"]]},{"id":"41f61d2.928923","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.928923","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":940,"wires":[]},{"id":"42a56979.755103","z":"41f61d2.649979","type":"mqtt in","name":"getCamera","qos":"b","topic":"b","broker":"82e7263f.755103","x":"100","y":"1000","wires":[["174b1d51.755103","sdf45dgd.928923"]]},{"id":"82e7263f.255368","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.650576","type":"ui_group","z":"41f61d2.649979","name":"getState","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.650576","z":"41f61d2.649979","type":"mqtt in","name":"getState","qos":"b","topic":"b","broker":"82e7263f.255368","x":"100","y":"1150","wires":[["174b1d51.255368","sdf45dgd.650576"]]},{"id":"82e7263f.650576","type":"ui_switch","z":"41f61d2.649979","name":"getState switch","label":"switch","tooltip":"","group":"dca5gfd0.650576","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1090,"wires":[[]]},{"id":"sdf45dgd.650576","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1150,"wires":[["41f61d2.650576","41f61d2.650576"]]},{"id":"41f61d2.650576","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.650576","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1090,"wires":[]},{"id":"42a56979.255368","z":"41f61d2.649979","type":"mqtt out","name":"getState","qos":"b","topic":"b","broker":"82e7263f.255368","x":850,"y":1090,"wires":[["174b1d51.255368"]]},{"id":"82e7263f.194310","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.915646","type":"ui_group","z":"41f61d2.649979","name":"allowAccess","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.915646","z":"41f61d2.649979","type":"mqtt in","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.194310","x":"100","y":"1300","wires":[["174b1d51.194310","sdf45dgd.915646"]]},{"id":"82e7263f.915646","type":"ui_switch","z":"41f61d2.649979","name":"allowAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.915646","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1240,"wires":[[]]},{"id":"sdf45dgd.915646","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1300,"wires":[["41f61d2.915646","41f61d2.915646"]]},{"id":"41f61d2.915646","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.915646","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1240,"wires":[]},{"id":"42a56979.194310","z":"41f61d2.649979","type":"mqtt out","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.194310","x":850,"y":1240,"wires":[["174b1d51.194310"]]},{"id":"82e7263f.175385","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.550857","type":"ui_group","z":"41f61d2.649979","name":"denyAccess","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.550857","z":"41f61d2.649979","type":"mqtt in","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.175385","x":"100","y":"1450","wires":[["174b1d51.175385","sdf45dgd.550857"]]},{"id":"82e7263f.550857","type":"ui_switch","z":"41f61d2.649979","name":"denyAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.550857","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1390,"wires":[[]]},{"id":"sdf45dgd.550857","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1450,"wires":[["41f61d2.550857","41f61d2.550857"]]},{"id":"41f61d2.550857","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.550857","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1390,"wires":[]},{"id":"42a56979.175385","z":"41f61d2.649979","type":"mqtt out","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.175385","x":850,"y":1390,"wires":[["174b1d51.175385"]]},{"id":"82e7263f.133696","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.362175","type":"ui_group","z":"41f61d2.649979","name":"allowAccess","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.362175","z":"41f61d2.649979","type":"mqtt in","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.133696","x":"100","y":"1600","wires":[["174b1d51.133696","sdf45dgd.362175"]]},{"id":"82e7263f.362175","type":"ui_switch","z":"41f61d2.649979","name":"allowAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.362175","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1540,"wires":[[]]},{"id":"sdf45dgd.362175","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1600,"wires":[["41f61d2.362175","41f61d2.362175"]]},{"id":"41f61d2.362175","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.362175","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1540,"wires":[]},{"id":"42a56979.133696","z":"41f61d2.649979","type":"mqtt out","name":"allowAccess","qos":"b","topic":"b","broker":"82e7263f.133696","x":850,"y":1540,"wires":[["174b1d51.133696"]]},{"id":"82e7263f.897538","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.923941","type":"ui_group","z":"41f61d2.649979","name":"denyAccess","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.923941","z":"41f61d2.649979","type":"mqtt in","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.897538","x":"100","y":"1750","wires":[["174b1d51.897538","sdf45dgd.923941"]]},{"id":"82e7263f.923941","type":"ui_switch","z":"41f61d2.649979","name":"denyAccess switch","label":"switch","tooltip":"","group":"dca5gfd0.923941","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1690,"wires":[[]]},{"id":"sdf45dgd.923941","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1750,"wires":[["41f61d2.923941","41f61d2.923941"]]},{"id":"41f61d2.923941","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.923941","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1690,"wires":[]},{"id":"42a56979.897538","z":"41f61d2.649979","type":"mqtt out","name":"denyAccess","qos":"b","topic":"b","broker":"82e7263f.897538","x":850,"y":1690,"wires":[["174b1d51.897538"]]},{"id":"82e7263f.486315","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.856658","type":"ui_group","z":"41f61d2.649979","name":"getMagneticValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.856658","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":1900,"wires":[["41f61d2.856658"]]},{"id":"41f61d2.856658","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.856658","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1840,"wires":[]},{"id":"42a56979.486315","z":"41f61d2.649979","type":"mqtt in","name":"getMagneticValue","qos":"b","topic":"b","broker":"82e7263f.486315","x":"100","y":"1900","wires":[["174b1d51.486315","sdf45dgd.856658"]]},{"id":"82e7263f.518045","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.681112","type":"ui_group","z":"41f61d2.649979","name":"getSmokeValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.681112","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2050,"wires":[["41f61d2.681112"]]},{"id":"41f61d2.681112","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.681112","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1990,"wires":[]},{"id":"42a56979.518045","z":"41f61d2.649979","type":"mqtt in","name":"getSmokeValue","qos":"b","topic":"b","broker":"82e7263f.518045","x":"100","y":"2050","wires":[["174b1d51.518045","sdf45dgd.681112"]]},{"id":"82e7263f.62760","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.904353","type":"ui_group","z":"41f61d2.649979","name":"getCO2Value","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.904353","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2200,"wires":[["41f61d2.904353"]]},{"id":"41f61d2.904353","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.904353","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2140,"wires":[]},{"id":"42a56979.62760","z":"41f61d2.649979","type":"mqtt in","name":"getCO2Value","qos":"b","topic":"b","broker":"82e7263f.62760","x":"100","y":"2200","wires":[["174b1d51.62760","sdf45dgd.904353"]]},{"id":"82e7263f.349065","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.31","type":"ui_group","z":"41f61d2.649979","name":"getFireValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.31","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2350,"wires":[["41f61d2.31"]]},{"id":"41f61d2.31","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.31","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2290,"wires":[]},{"id":"42a56979.349065","z":"41f61d2.649979","type":"mqtt in","name":"getFireValue","qos":"b","topic":"b","broker":"82e7263f.349065","x":"100","y":"2350","wires":[["174b1d51.349065","sdf45dgd.31"]]},{"id":"82e7263f.833702","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.596273","type":"ui_group","z":"41f61d2.649979","name":"turnON","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.596273","z":"41f61d2.649979","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.833702","x":"100","y":"2500","wires":[["174b1d51.833702","sdf45dgd.596273"]]},{"id":"82e7263f.596273","type":"ui_switch","z":"41f61d2.649979","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.596273","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2440,"wires":[[]]},{"id":"sdf45dgd.596273","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2500,"wires":[["41f61d2.596273","41f61d2.596273"]]},{"id":"41f61d2.596273","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.596273","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2440,"wires":[]},{"id":"42a56979.833702","z":"41f61d2.649979","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.833702","x":850,"y":2440,"wires":[["174b1d51.833702"]]},{"id":"82e7263f.276375","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.390011","type":"ui_group","z":"41f61d2.649979","name":"turnOFF","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.390011","z":"41f61d2.649979","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.276375","x":"100","y":"2650","wires":[["174b1d51.276375","sdf45dgd.390011"]]},{"id":"82e7263f.390011","type":"ui_switch","z":"41f61d2.649979","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.390011","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2590,"wires":[[]]},{"id":"sdf45dgd.390011","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2650,"wires":[["41f61d2.390011","41f61d2.390011"]]},{"id":"41f61d2.390011","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.390011","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2590,"wires":[]},{"id":"42a56979.276375","z":"41f61d2.649979","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.276375","x":850,"y":2590,"wires":[["174b1d51.276375"]]},{"id":"82e7263f.912754","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.789480","type":"ui_group","z":"41f61d2.649979","name":"turnOFF","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.789480","z":"41f61d2.649979","type":"mqtt in","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.912754","x":"100","y":"2800","wires":[["174b1d51.912754","sdf45dgd.789480"]]},{"id":"82e7263f.789480","type":"ui_switch","z":"41f61d2.649979","name":"turnOFF switch","label":"switch","tooltip":"","group":"dca5gfd0.789480","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2740,"wires":[[]]},{"id":"sdf45dgd.789480","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2800,"wires":[["41f61d2.789480","41f61d2.789480"]]},{"id":"41f61d2.789480","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.789480","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2740,"wires":[]},{"id":"42a56979.912754","z":"41f61d2.649979","type":"mqtt out","name":"turnOFF","qos":"b","topic":"b","broker":"82e7263f.912754","x":850,"y":2740,"wires":[["174b1d51.912754"]]},{"id":"82e7263f.273747","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.842007","type":"ui_group","z":"41f61d2.649979","name":"turnON","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.842007","z":"41f61d2.649979","type":"mqtt in","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.273747","x":"100","y":"2950","wires":[["174b1d51.273747","sdf45dgd.842007"]]},{"id":"82e7263f.842007","type":"ui_switch","z":"41f61d2.649979","name":"turnON switch","label":"switch","tooltip":"","group":"dca5gfd0.842007","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":2890,"wires":[[]]},{"id":"sdf45dgd.842007","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":2950,"wires":[["41f61d2.842007","41f61d2.842007"]]},{"id":"41f61d2.842007","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.842007","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":2890,"wires":[]},{"id":"42a56979.273747","z":"41f61d2.649979","type":"mqtt out","name":"turnON","qos":"b","topic":"b","broker":"82e7263f.273747","x":850,"y":2890,"wires":[["174b1d51.273747"]]},{"id":"82e7263f.101881","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.952466","type":"ui_group","z":"41f61d2.649979","name":"getBinValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.952466","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3100,"wires":[["41f61d2.952466"]]},{"id":"41f61d2.952466","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.952466","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3040,"wires":[]},{"id":"42a56979.101881","z":"41f61d2.649979","type":"mqtt in","name":"getBinValue","qos":"b","topic":"b","broker":"82e7263f.101881","x":"100","y":"3100","wires":[["174b1d51.101881","sdf45dgd.952466"]]},{"id":"82e7263f.988424","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.980116","type":"ui_group","z":"41f61d2.649979","name":"getWaterValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.980116","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3250,"wires":[["41f61d2.980116"]]},{"id":"41f61d2.980116","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.980116","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3190,"wires":[]},{"id":"42a56979.988424","z":"41f61d2.649979","type":"mqtt in","name":"getWaterValue","qos":"b","topic":"b","broker":"82e7263f.988424","x":"100","y":"3250","wires":[["174b1d51.988424","sdf45dgd.980116"]]},{"id":"82e7263f.592319","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.697409","type":"ui_group","z":"41f61d2.649979","name":"getValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.697409","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3400,"wires":[["41f61d2.697409"]]},{"id":"41f61d2.697409","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.697409","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3340,"wires":[]},{"id":"42a56979.592319","z":"41f61d2.649979","type":"mqtt in","name":"getValue","qos":"b","topic":"b","broker":"82e7263f.592319","x":"100","y":"3400","wires":[["174b1d51.592319","sdf45dgd.697409"]]},{"id":"82e7263f.655955","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.991549","type":"ui_group","z":"41f61d2.649979","name":"getValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"sdf45dgd.991549","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3550,"wires":[["41f61d2.991549"]]},{"id":"41f61d2.991549","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.991549","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3490,"wires":[]},{"id":"42a56979.655955","z":"41f61d2.649979","type":"mqtt in","name":"getValue","qos":"b","topic":"b","broker":"82e7263f.655955","x":"100","y":"3550","wires":[["174b1d51.655955","sdf45dgd.991549"]]},{"id":"82e7263f.924242","type":"mqtt-broker","z":"41f61d2.649979","name":"","broker":"a","port":"b","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dca5gfd0.823311","type":"ui_group","z":"41f61d2.649979","name":"setValue","tab":"b7abfg80.649979","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaaaaa.823311","z":"41f61d2.649979","type":"mqtt in","name":"setValue","qos":"b","topic":"b","broker":"82e7263f.924242","x":"100","y":"3700","wires":[["174b1d51.924242","sdf45dgd.823311"]]},{"id":"82e7263f.823311","type":"ui_switch","z":"41f61d2.649979","name":"setValue switch","label":"switch","tooltip":"","group":"dca5gfd0.823311","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":3640,"wires":[[]]},{"id":"sdf45dgd.823311","type":"json","z":"41f61d2.649979","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":3700,"wires":[["41f61d2.823311","41f61d2.823311"]]},{"id":"41f61d2.823311","type":"ui_text","z":"41f61d2.649979","name":"","group":"dca5gfd0.823311","order":1,"width":0,"height":0,"label":"state","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3640,"wires":[]},{"id":"42a56979.924242","z":"41f61d2.649979","type":"mqtt out","name":"setValue","qos":"b","topic":"b","broker":"82e7263f.924242","x":850,"y":3640,"wires":[["174b1d51.924242"]]},{"id":"b7abfg80.649979","type":"ui_tab","z":"41f61d2.649979","tab":"","name":"Smart Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"41f61d2.649979","type":"tab","label":"Flow 649979","disabled":false,"info":""}]