electronflow.json
[{"id":"41f61d2.777824","type":"tab","label":"Flow 777824","disabled":false,"info":""},{"id":"dca5gfd0.878131","type":"ui_group","z":"41f61d2.777824","name":"Turn Off","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.613582","type":"ui_group","z":"41f61d2.777824","name":"Turn On","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.766629","type":"ui_group","z":"41f61d2.777824","name":"getValue","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.498845","type":"ui_group","z":"41f61d2.777824","name":"allowAccess","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.889669","type":"ui_group","z":"41f61d2.777824","name":"denyAccess","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.392574","type":"ui_group","z":"41f61d2.777824","name":"getValue","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.618671","type":"ui_group","z":"41f61d2.777824","name":"getState","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.491814","type":"ui_group","z":"41f61d2.777824","name":"Move to waste dumping area","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.485018","type":"ui_group","z":"41f61d2.777824","name":"Put an empty bin","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.274833","type":"ui_group","z":"41f61d2.777824","name":"getValue","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.724983","type":"ui_group","z":"41f61d2.777824","name":"setValue","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.610436","type":"ui_group","z":"41f61d2.777824","name":"ServeFood","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"dca5gfd0.232254","type":"ui_group","z":"41f61d2.777824","name":"getValue","tab":"b7abfg80.777824","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7abfg80.777824","type":"ui_tab","z":"41f61d2.777824","name":"Smart Scenario","icon":"dashboard","disabled":false,"hidden":false},{"id":"8f6630b3.a2d78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"159c15f9.851853","type":"comment","z":"41f61d2.777824","name":"Device Name: Light alarm","info":"","x":200,"y":40,"wires":[]},{"id":"198cf8a5.536831","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":130,"wires":[["35eb11d7.536831"]]},{"id":"a82ffb36.878131","type":"ui_gauge","z":"41f61d2.777824","name":"Turn Off","group":"dca5gfd0.878131","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":40,"wires":[]},{"id":"82e7263f.878131","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":80,"wires":[["2a08c57b.878131","a82ffb36.878131","46dg574s.878131"]]},{"id":"2a08c57b.878131","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":80,"wires":[]},{"id":"9d19d8fc.878131","type":"ui_chart","z":"41f61d2.777824","name":"Turn Off monitoring","group":"dca5gfd0.878131","order":1,"width":0,"height":0,"label":"Turn Off chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":120,"wires":[[]]},{"id":"46dg574s.878131","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":120,"wires":[["9d19d8fc.878131"]]},{"id":"35eb11d7.536831","type":"http request","z":"41f61d2.777824","name":"Turn Off","method":"DELETE","ret":"txt","url":"http://lightAlarm:8080/alarm/state:8080","tls":"","persist":false,"x":200,"y":80,"wires":[["82e7263f.878131"]]},{"id":"159c15f9.182308","type":"comment","z":"41f61d2.777824","name":"Device Name: Light alarm","info":"","x":200,"y":230,"wires":[]},{"id":"198cf8a5.328074","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["35eb11d7.328074"]]},{"id":"a82ffb36.613582","type":"ui_gauge","z":"41f61d2.777824","name":"Turn On","group":"dca5gfd0.613582","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":200,"wires":[]},{"id":"82e7263f.613582","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":270,"wires":[["2a08c57b.613582","a82ffb36.613582","46dg574s.613582"]]},{"id":"2a08c57b.613582","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":230,"wires":[]},{"id":"9d19d8fc.613582","type":"ui_chart","z":"41f61d2.777824","name":"Turn On monitoring","group":"dca5gfd0.613582","order":1,"width":0,"height":0,"label":"Turn On chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":310,"wires":[[]]},{"id":"46dg574s.613582","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":310,"wires":[["9d19d8fc.613582"]]},{"id":"35eb11d7.328074","type":"http request","z":"41f61d2.777824","name":"Turn On","method":"POST","ret":"txt","url":"http://lightAlarm:8080/alarm/state:8080","tls":"","persist":false,"x":200,"y":270,"wires":[["82e7263f.613582"]]},{"id":"159c15f9.469170","type":"comment","z":"41f61d2.777824","name":"Device Name: Finger Scanner","info":"","x":200,"y":420,"wires":[]},{"id":"159c15f9.630926","type":"comment","z":"41f61d2.777824","name":"Event Name: Finger Reading Event Condition: getValue !=null","info":"","x":200,"y":460,"wires":[]},{"id":"198cf8a5.401750","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":560,"wires":[["35eb11d7.401750"]]},{"id":"a82ffb36.766629","type":"ui_gauge","z":"41f61d2.777824","name":"getValue","group":"dca5gfd0.766629","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":440,"wires":[]},{"id":"82e7263f.766629","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":510,"wires":[["2a08c57b.766629","a82ffb36.766629","eb57e9b2.766629","46dg574s.766629"]]},{"id":"eb57e9b2.766629","type":"function","z":"41f61d2.777824","name":"Develop the event function here","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":490,"wires":[["3e120eca.766629"]]},{"id":"3b966545.766629","type":"http response","z":"41f61d2.777824","name":"Response (200)","statusCode":"200","headers":{},"x":1600,"y":490,"wires":[]},{"id":"a7f924e5.766629","type":"http request","z":"41f61d2.777824","name":"Http request to BPMN model","method":"POST","ret":"txt","paytoqs":"ignore","url":"172.23.181.247:8080/engine-rest/message","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":490,"wires":[["3b966545.766629"]]},{"id":"3e120eca.766629","type":"change","z":"41f61d2.777824","name":"Set message","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"messageName\":\"Finger Reading\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":530,"wires":[["a7f924e5.766629"]]},{"id":"2a08c57b.766629","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":470,"wires":[]},{"id":"9d19d8fc.766629","type":"ui_chart","z":"41f61d2.777824","name":"getValue monitoring","group":"dca5gfd0.766629","order":1,"width":0,"height":0,"label":"getValue chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":550,"wires":[[]]},{"id":"46dg574s.766629","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":550,"wires":[["9d19d8fc.766629"]]},{"id":"35eb11d7.401750","type":"http request","z":"41f61d2.777824","name":"getValue","method":"POST","ret":"txt","url":"f:f","tls":"","persist":false,"x":200,"y":510,"wires":[["82e7263f.766629"]]},{"id":"159c15f9.13455","type":"comment","z":"41f61d2.777824","name":"Device Name: Access Controller","info":"","x":200,"y":660,"wires":[]},{"id":"198cf8a5.347051","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":750,"wires":[["35eb11d7.347051"]]},{"id":"a82ffb36.498845","type":"ui_gauge","z":"41f61d2.777824","name":"allowAccess","group":"dca5gfd0.498845","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":630,"wires":[]},{"id":"82e7263f.498845","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":700,"wires":[["2a08c57b.498845","a82ffb36.498845","46dg574s.498845"]]},{"id":"2a08c57b.498845","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":660,"wires":[]},{"id":"9d19d8fc.498845","type":"ui_chart","z":"41f61d2.777824","name":"allowAccess monitoring","group":"dca5gfd0.498845","order":1,"width":0,"height":0,"label":"allowAccess chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":740,"wires":[[]]},{"id":"46dg574s.498845","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":740,"wires":[["9d19d8fc.498845"]]},{"id":"35eb11d7.347051","type":"http request","z":"41f61d2.777824","name":"allowAccess","method":"POST","ret":"txt","url":"http://accessController:8080/access/state:8080","tls":"","persist":false,"x":200,"y":700,"wires":[["82e7263f.498845"]]},{"id":"159c15f9.653611","type":"comment","z":"41f61d2.777824","name":"Device Name: Access Controller","info":"","x":200,"y":850,"wires":[]},{"id":"198cf8a5.457048","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":940,"wires":[["35eb11d7.457048"]]},{"id":"a82ffb36.889669","type":"ui_gauge","z":"41f61d2.777824","name":"denyAccess","group":"dca5gfd0.889669","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":820,"wires":[]},{"id":"82e7263f.889669","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":890,"wires":[["2a08c57b.889669","a82ffb36.889669","46dg574s.889669"]]},{"id":"2a08c57b.889669","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":850,"wires":[]},{"id":"9d19d8fc.889669","type":"ui_chart","z":"41f61d2.777824","name":"denyAccess monitoring","group":"dca5gfd0.889669","order":1,"width":0,"height":0,"label":"denyAccess chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":930,"wires":[[]]},{"id":"46dg574s.889669","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":930,"wires":[["9d19d8fc.889669"]]},{"id":"35eb11d7.457048","type":"http request","z":"41f61d2.777824","name":"denyAccess","method":"DELETE","ret":"txt","url":"http://accessController:8080/access/state:8080","tls":"","persist":false,"x":200,"y":890,"wires":[["82e7263f.889669"]]},{"id":"159c15f9.885805","type":"comment","z":"41f61d2.777824","name":"Device Name: Bin sensor","info":"","x":200,"y":1040,"wires":[]},{"id":"159c15f9.825375","type":"comment","z":"41f61d2.777824","name":"Event Name: full bin Event Condition: getValue ==full","info":"","x":200,"y":1080,"wires":[]},{"id":"198cf8a5.552958","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1180,"wires":[["35eb11d7.552958"]]},{"id":"a82ffb36.392574","type":"ui_gauge","z":"41f61d2.777824","name":"getValue","group":"dca5gfd0.392574","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1060,"wires":[]},{"id":"82e7263f.392574","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1130,"wires":[["2a08c57b.392574","a82ffb36.392574","eb57e9b2.392574","46dg574s.392574"]]},{"id":"eb57e9b2.392574","type":"function","z":"41f61d2.777824","name":"Develop the event function here","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1110,"wires":[["3e120eca.392574"]]},{"id":"3b966545.392574","type":"http response","z":"41f61d2.777824","name":"Response (200)","statusCode":"200","headers":{},"x":1600,"y":1110,"wires":[]},{"id":"a7f924e5.392574","type":"http request","z":"41f61d2.777824","name":"Http request to BPMN model","method":"POST","ret":"txt","paytoqs":"ignore","url":"172.23.181.247:8080/engine-rest/message","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":1110,"wires":[["3b966545.392574"]]},{"id":"3e120eca.392574","type":"change","z":"41f61d2.777824","name":"Set message","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"messageName\":\"full bin\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1150,"wires":[["a7f924e5.392574"]]},{"id":"2a08c57b.392574","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1090,"wires":[]},{"id":"9d19d8fc.392574","type":"ui_chart","z":"41f61d2.777824","name":"getValue monitoring","group":"dca5gfd0.392574","order":1,"width":0,"height":0,"label":"getValue chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":1170,"wires":[[]]},{"id":"46dg574s.392574","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1170,"wires":[["9d19d8fc.392574"]]},{"id":"35eb11d7.552958","type":"http request","z":"41f61d2.777824","name":"getValue","method":"POST","ret":"txt","url":"sf:fsf","tls":"","persist":false,"x":200,"y":1130,"wires":[["82e7263f.392574"]]},{"id":"159c15f9.703278","type":"comment","z":"41f61d2.777824","name":"Device Name: Bin Robot","info":"","x":200,"y":1280,"wires":[]},{"id":"198cf8a5.893655","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1370,"wires":[["35eb11d7.893655"]]},{"id":"a82ffb36.618671","type":"ui_gauge","z":"41f61d2.777824","name":"getState","group":"dca5gfd0.618671","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1250,"wires":[]},{"id":"82e7263f.618671","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1320,"wires":[["2a08c57b.618671","a82ffb36.618671","46dg574s.618671"]]},{"id":"2a08c57b.618671","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1280,"wires":[]},{"id":"9d19d8fc.618671","type":"ui_chart","z":"41f61d2.777824","name":"getState monitoring","group":"dca5gfd0.618671","order":1,"width":0,"height":0,"label":"getState chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":1360,"wires":[[]]},{"id":"46dg574s.618671","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1360,"wires":[["9d19d8fc.618671"]]},{"id":"35eb11d7.893655","type":"http request","z":"41f61d2.777824","name":"getState","method":"undefined","ret":"txt","url":"undefined:undefined","tls":"","persist":false,"x":200,"y":1320,"wires":[["82e7263f.618671"]]},{"id":"159c15f9.114268","type":"comment","z":"41f61d2.777824","name":"Device Name: Bin Robot","info":"","x":200,"y":1470,"wires":[]},{"id":"198cf8a5.153540","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1560,"wires":[["35eb11d7.153540"]]},{"id":"a82ffb36.491814","type":"ui_gauge","z":"41f61d2.777824","name":"Move to waste dumping area","group":"dca5gfd0.491814","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1440,"wires":[]},{"id":"82e7263f.491814","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1510,"wires":[["2a08c57b.491814","a82ffb36.491814","46dg574s.491814"]]},{"id":"2a08c57b.491814","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1470,"wires":[]},{"id":"9d19d8fc.491814","type":"ui_chart","z":"41f61d2.777824","name":"Move to waste dumping area monitoring","group":"dca5gfd0.491814","order":1,"width":0,"height":0,"label":"Move to waste dumping area chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":1550,"wires":[[]]},{"id":"46dg574s.491814","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1550,"wires":[["9d19d8fc.491814"]]},{"id":"35eb11d7.153540","type":"http request","z":"41f61d2.777824","name":"Move to waste dumping area","method":"POST","ret":"txt","url":"http://binRobot:8080/bin/movement/dumping/area:8080","tls":"","persist":false,"x":200,"y":1510,"wires":[["82e7263f.491814"]]},{"id":"159c15f9.753234","type":"comment","z":"41f61d2.777824","name":"Device Name: Bin Robot","info":"","x":200,"y":1660,"wires":[]},{"id":"198cf8a5.652267","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1750,"wires":[["8erw33f.485018"]]},{"id":"8erw33f.485018","type":"http request","z":"41f61d2.777824","name":"Put an empty bin","method":"POST","ret":"txt","url":"http://binRobot:8080/bin/new/empty:8080","tls":"","persist":false,"x":285,"y":1700,"wires":[["82erwr3f.485018","sdf45dgd.485018"]]},{"id":"sdf45dgd.485018","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":1700,"wires":[["82erwr3f.485018"]]},{"id":"82erwr3f.485018","type":"ui_text","z":"41f61d2.777824","group":"dca5gfd0.485018","order":1,"width":0,"height":0,"name":"","label":"state","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1640,"wires":[]},{"id":"159c15f9.322958","type":"comment","z":"41f61d2.777824","name":"Device Name: Food Provider","info":"","x":200,"y":1850,"wires":[]},{"id":"198cf8a5.547234","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1940,"wires":[["35eb11d7.547234"]]},{"id":"a82ffb36.274833","type":"ui_gauge","z":"41f61d2.777824","name":"getValue","group":"dca5gfd0.274833","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1820,"wires":[]},{"id":"82e7263f.274833","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1890,"wires":[["2a08c57b.274833","a82ffb36.274833","46dg574s.274833"]]},{"id":"2a08c57b.274833","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1850,"wires":[]},{"id":"9d19d8fc.274833","type":"ui_chart","z":"41f61d2.777824","name":"getValue monitoring","group":"dca5gfd0.274833","order":1,"width":0,"height":0,"label":"getValue chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":1930,"wires":[[]]},{"id":"46dg574s.274833","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":1930,"wires":[["9d19d8fc.274833"]]},{"id":"35eb11d7.547234","type":"http request","z":"41f61d2.777824","name":"getValue","method":"undefined","ret":"txt","url":"undefined:undefined","tls":"","persist":false,"x":200,"y":1890,"wires":[["82e7263f.274833"]]},{"id":"159c15f9.286375","type":"comment","z":"41f61d2.777824","name":"Device Name: Food Provider","info":"","x":200,"y":2040,"wires":[]},{"id":"198cf8a5.873240","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2130,"wires":[["35eb11d7.873240"]]},{"id":"a82ffb36.724983","type":"ui_gauge","z":"41f61d2.777824","name":"setValue","group":"dca5gfd0.724983","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":2010,"wires":[]},{"id":"82e7263f.724983","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":2080,"wires":[["2a08c57b.724983","a82ffb36.724983","46dg574s.724983"]]},{"id":"2a08c57b.724983","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":2040,"wires":[]},{"id":"9d19d8fc.724983","type":"ui_chart","z":"41f61d2.777824","name":"setValue monitoring","group":"dca5gfd0.724983","order":1,"width":0,"height":0,"label":"setValue chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":2120,"wires":[[]]},{"id":"46dg574s.724983","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":2120,"wires":[["9d19d8fc.724983"]]},{"id":"35eb11d7.873240","type":"http request","z":"41f61d2.777824","name":"setValue","method":"undefined","ret":"txt","url":"undefined:undefined","tls":"","persist":false,"x":200,"y":2080,"wires":[["82e7263f.724983"]]},{"id":"159c15f9.517497","type":"comment","z":"41f61d2.777824","name":"Device Name: Food Provider","info":"","x":200,"y":2230,"wires":[]},{"id":"198cf8a5.479987","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2320,"wires":[["35eb11d7.479987"]]},{"id":"a82ffb36.610436","type":"ui_gauge","z":"41f61d2.777824","name":"ServeFood","group":"dca5gfd0.610436","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":2200,"wires":[]},{"id":"82e7263f.610436","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":2270,"wires":[["2a08c57b.610436","a82ffb36.610436","46dg574s.610436"]]},{"id":"2a08c57b.610436","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":2230,"wires":[]},{"id":"9d19d8fc.610436","type":"ui_chart","z":"41f61d2.777824","name":"ServeFood monitoring","group":"dca5gfd0.610436","order":1,"width":0,"height":0,"label":"ServeFood chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":2310,"wires":[[]]},{"id":"46dg574s.610436","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":2310,"wires":[["9d19d8fc.610436"]]},{"id":"35eb11d7.479987","type":"http request","z":"41f61d2.777824","name":"ServeFood","method":"POST","ret":"txt","url":"http://foodProvider:8080/food/service:8080","tls":"","persist":false,"x":200,"y":2270,"wires":[["82e7263f.610436"]]},{"id":"159c15f9.368971","type":"comment","z":"41f61d2.777824","name":"Device Name: Proximity Sensor","info":"","x":200,"y":2420,"wires":[]},{"id":"159c15f9.292926","type":"comment","z":"41f61d2.777824","name":"Event Name: Empty Room Event Condition: getValue ==false","info":"","x":200,"y":2460,"wires":[]},{"id":"159c15f9.450361","type":"comment","z":"41f61d2.777824","name":"Event Name: Food is Taken Event Condition: getValue ==false","info":"","x":200,"y":2510,"wires":[]},{"id":"159c15f9.208088","type":"comment","z":"41f61d2.777824","name":"Event Name: Food is put Event Condition: getValue !=false","info":"","x":200,"y":2560,"wires":[]},{"id":"198cf8a5.294963","type":"inject","z":"41f61d2.777824","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2660,"wires":[["35eb11d7.294963"]]},{"id":"a82ffb36.232254","type":"ui_gauge","z":"41f61d2.777824","name":"getValue","group":"dca5gfd0.232254","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":2540,"wires":[]},{"id":"82e7263f.232254","type":"json","z":"41f61d2.777824","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":2610,"wires":[["2a08c57b.232254","a82ffb36.232254","eb57e9b2.232254","46dg574s.232254"]]},{"id":"eb57e9b2.232254","type":"function","z":"41f61d2.777824","name":"Develop the event function here","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":2590,"wires":[["3e120eca.232254"]]},{"id":"3b966545.232254","type":"http response","z":"41f61d2.777824","name":"Response (200)","statusCode":"200","headers":{},"x":1600,"y":2590,"wires":[]},{"id":"a7f924e5.232254","type":"http request","z":"41f61d2.777824","name":"Http request to BPMN model","method":"POST","ret":"txt","paytoqs":"ignore","url":"172.23.181.247:8080/engine-rest/message","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":2590,"wires":[["3b966545.232254"]]},{"id":"3e120eca.232254","type":"change","z":"41f61d2.777824","name":"Set message","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"messageName\":\"Food is put\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2630,"wires":[["a7f924e5.232254"]]},{"id":"2a08c57b.232254","type":"debug","z":"41f61d2.777824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":2570,"wires":[]},{"id":"9d19d8fc.232254","type":"ui_chart","z":"41f61d2.777824","name":"getValue monitoring","group":"dca5gfd0.232254","order":1,"width":0,"height":0,"label":"getValue chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":2650,"wires":[[]]},{"id":"46dg574s.232254","type":"template","z":"41f61d2.777824","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.value}}","output":"str","x":480,"y":2650,"wires":[["9d19d8fc.232254"]]},{"id":"35eb11d7.294963","type":"http request","z":"41f61d2.777824","name":"getValue","method":"undefined","ret":"txt","url":"undefined:undefined","tls":"","persist":false,"x":200,"y":2610,"wires":[["82e7263f.232254"]]}]